.histories {
  background: #F4F5F9;
  padding: 100px 0;
  /* * * * * * * * * * *
*                    *
* Variables          *
*                    *
* * * * * * * * * * */
  /* * * * * * * * * * *
*                    *
* Global             *
* Styles             *
*                    *
* * * * * * * * * * */
  /* * * * * * * * * * *
 * 									 *
 * Pages             *
 * Styles            *
 *                   *
 * * * * * * * * * * */
  /* * * * * * * * * * *
* 									 *
* Block              *
* Styles             *
*                    *
* * * * * * * * * * */
  /* * * * * * * * * * *
* 									 *
* Media              *
* Queries            *
*                    *
* * * * * * * * * * */
}
.histories__title {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  text-align: center;
  color: #262525;
  margin: 0;
  padding-bottom: 60px;
}
.histories__slide {
  padding: 20px 10px;
}
.histories__slide-inner {
  display: flex;
  text-decoration: none;
}
.histories__slide-inner:hover .histories__slider-description {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
.histories__slide-inner:hover .histories__slider-image-block {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
.histories__slider-description {
  height: 419px;
  background: #FFF;
  align-self: center;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 1 0 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  transition: box-shadow 0.5s ease;
}
.histories__slider-image-block {
  height: 452px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
}
.histories__slider-image-block img {
  width: 100%;
  height: 100%;
}
.histories__slider-number {
  font-size: 14px;
  color: #777;
  margin: 0;
}
.histories__slider-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: #262525;
}
.histories__arrow {
  background-color: #FFF;
}
.histories__slider-description-text {
  font-size: 16px;
  line-height: 24px;
  color: #777;
  margin: 16px 0px;
}
.histories__slider-cart-table {
  display: flex;
}
.histories__slider-cart {
  flex: 1;
  text-align: center;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 10px 16px;
  margin-right: 30px;
}
.histories__slider-cart:last-child {
  margin: 0;
}
.histories__slider-cart-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #262525;
  margin: 0;
}
.histories__slider-cart-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #777;
  margin: 0;
}
.histories__slider-link {
  margin-top: auto;
  align-self: flex-start;
}
.histories .arrow {
  position: absolute;
  top: calc(50% - 24px);
}
.histories .arrow_prev {
  left: -60px;
}
.histories .arrow_next {
  right: -60px;
}
@media (max-width: 1314px) {
  .histories {
    padding: 50px 0;
  }
  .histories__title {
    font-size: 25px;
    line-height: 28px;
  }
  .histories__slide-inner {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .histories__slider-image-block {
    height: auto;
    border-radius: 0;
    max-width: 600px;
  }
  .histories__slider-description {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: 15px;
    flex: 1 0 auto;
  }
  .histories__slider-link {
    margin-top: 20px;
  }
  .histories__slider-cart-table {
    flex-direction: column;
  }
  .histories__slider-cart {
    margin: 10px;
  }
  .histories__slider-cart:last-child {
    margin: 10px;
  }
}
.histories html,
.histories body {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.histories .page {
  position: relative;
  z-index: 1;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  background: white;
  color: #777;
  min-width: 320px;
  font-size: 18px;
  line-height: 28px;
}
.histories .page * {
  box-sizing: border-box;
}
.histories .page *:focus {
  outline-color: #B4E4FF;
}
.histories .page__wrapper {
  padding: 0;
}
@media (min-width: 1200px) {
  .histories .mobile-show {
    display: none;
  }
}
.histories .container {
  max-width: 100%;
  width: 1183px;
  margin: 0 auto;
}
@media (max-width: 1314px) {
  .histories .container {
    padding: 0 20px;
    width: 100%;
  }
}
@media (max-width: 1314px) {
  .histories .mobile-hide {
    display: none;
  }
}
.histories input[type=number]::-webkit-inner-spin-button,
.histories input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.news {
  background-color: #fff;
  position: relative;
}
.news:after {
  position: absolute;
  content: '';
  background: url(../img/news-bg.png) no-repeat;
  background-position: top center;
  background-size: cover;
  bottom: -174px;
  height: 208px;
  transform: rotate(180deg);
  width: 100%;
  display: block;
}

.request {
  position: static;
  padding-top: 308px;
}
@media (max-width: 1190px){
  .request {
    padding: 50px 0;
  }
}

.card-blog__descr {
  margin-left: 32px;
  display: flex;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
}
.card-blog__title {
  word-break: break-word;
}
.news .card-blog__descr {
  margin-left: 0;
  margin-bottom: 20px;
}
.news .arrow {
  background-color: #F4F5F9;
}

.card-blog__descr {
  margin-left: 32px;
  display: flex;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
}
.card-blog__tag {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #777777;
  padding: 0px 8px;
  margin-right: 16px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #8EBA5B;
  border-radius: 4px;
}

.card-blog__date {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #8EBA5B;
}

.news .histories__slider-description-text {
  max-height: 220px;
  overflow: hidden;
}




@media screen and (max-width: 800px) {
  .news:after {
    display: none;
  }
}

.navigation__list .navigation__item {
  padding: 0 7px;
}