.advantages {
  background : #f4f5f9;
  position   : relative;

  @media @mobile {
    padding-bottom : 50px;
  }

  &__triangle {
    background          : url("../../img/advantages-bg.svg") no-repeat;
    position            : absolute;
    //top               : 200px;
    left                : 0;
    width               : 100%;
    height              : 1000px;
    z-index             : 2;
    max-width           : 2000px;
    pointer-events      : none;
    background-position : center;
    background-size     : 1920px;

    @media (min-width : 2000px) {
      left : calc(50% - 1000px);
    }

    @media @mobile {
      display : none;
    }
  }


  &__top-carts {
    margin-top      : -200px;
    position        : relative;
    display         : flex;
    justify-content : space-between;

    @media @mobile {
      flex-direction : column;
      align-items    : center;
      margin-top     : 0;
      padding-top    : 50px;
    }
  }

  &__cart {
    width         : calc(33% - 20px);
    background    : #FFF;
    border-radius : 10px;
    padding       : 32px 26px;
    transition    : box-shadow .5s ease;
    box-shadow    : 0px 8px 16px rgba(0, 0, 0, 0.08);
    position      : relative;
    z-index       : 3;

    @media @mobile {
      width         : 100%;
      max-width     : 600px;
      margin-bottom : 32px;
    }


    &:hover {
      box-shadow : 0px 8px 16px rgba(0, 0, 0, 0.16);
    }
  }

  &__cart-title {
    font-weight    : bold;
    font-size      : 22px;
    line-height    : normal;
    color          : #262525;
    padding-bottom : 9px;
    margin         : 0;
    min-height     : 60px;

    @media (max-width : 450px) {
      font-size : 20px;
    }
  }

  &__cart-text {
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
    margin      : 0;
  }

  &__inner {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    height          : 1000px;
    padding-bottom  : 200px;

    @media @mobile {
      height         : auto;
      padding-bottom : 80px;
    }
  }

  &__bottom-carts {
    display         : flex;
    justify-content : space-between;

    @media @mobile {
      flex-wrap       : wrap;
      justify-content : center;
    }
  }

  &__b-cart {
    width           : 280px;
    height          : 450px;
    background      : #FFF;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    align-items     : center;
    padding-bottom  : 80px;
    transition      : transform .5s ease;
    position        : relative;

    @media (min-width : 1315px) {
      border-bottom-left-radius  : 160px;
      border-bottom-right-radius : 160px;
      top                        : 80px;

      &:nth-of-type(2) {
        margin-top : 140px;
      }

      &:nth-of-type(3) {
        margin-top : 140px;
      }

      &:hover {
        transform : translateY(50px);
      }
    }

    @media @mobile {
      .size(280px);
      margin        : 10px;
      border-radius : 10px;
      padding       : 32px 26px;
      box-shadow    : 0px 8px 16px rgba(0, 0, 0, 0.08);
      position      : relative;
    }


    @media (max-width : 400px) {
      margin : 15px 0;
    }
  }

  &__b-cart-title {
    font-family : @font2;
    font-size   : 24px;
    line-height : normal;
    text-align  : center;
    color       : #8EBA5B;
    max-width   : 228px;
    font-weight : bold;
  }

  &__b-cart-text {
    font-size   : 16px;
    line-height : 24px;
    text-align  : center;
    color       : #777;
    max-width   : 228px;
  }


}