.comments {
  background-color    : #8EBA5B;
  background-image    : url("../../img/comments-bg.svg");
  padding             : 100px 0;
  background-size     : 1572px;
  background-position : 78% center;
  background-repeat   : no-repeat;

  &__title {
    font-weight : bold;
    font-size   : 48px;
    line-height : 66px;
    color       : #FFF;
    margin      : 0;
  }

  &__subtitle {
    font-size   : 16px;
    line-height : 24px;
    color       : #FFF;
    max-width   : 608px;
    margin      : 0;
  }

  &__slide-inner {
    background     : #FFF;
    border-radius  : 10px;
    padding        : 32px;
    display        : flex;
    flex-direction : column;
    max-width      : 380px;
    transition     : box-shadow .5s ease;

    &:hover {
      box-shadow : 0px 8px 16px rgba(0, 0, 0, 0.08);
    }
  }

  &__slide-title {
    font-weight : bold;
    font-size   : 24px;
    line-height : normal;
    color       : #262525;
    margin      : 0;
    padding     : 10px 0px;
  }

  &__slide-image {
    height              : 50px;
    overflow            : hidden;
    display             : flex;
    justify-content     : center;
    align-items         : center;
    background-size     : contain;
    background-repeat   : no-repeat;
    background-position : center center;

  }

  &__slider {
    margin-top : 48px;
  }

  &__slide-subtitle {
    font-size   : 16px;
    line-height : 24px;
    color       : #8EBA5B;
    margin      : 0;
  }

  &__slide-text {
    margin      : 0;
    padding     : 10px 0 0;
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
  }

  &__slide {
    padding-right : 20px;
  }

  &__logo-slider {
  }

  .arrow {
    position : absolute;
    top      : -60px;

    &_prev {
      right : 70px;
    }

    &_next {
      right : 15px;
    }

    &.slick-disabled {
      opacity          : 0.4;
      background-color : rgba(241, 242, 246, 0.7);

      &:hover {
        opacity : 0.4;
      }
    }
  }

  @media @tablet-area {
    padding : 50px 10px;
  }


  @media @mobile {
    padding : 50px 0;

    &__title {
      font-size   : 25px;
      line-height : 28px;
    }
  }


}