.contacts {
  background     : #f4f5f9;
  padding-bottom : 100px;

  @media @mobile {
    padding-bottom : 50px;
  }

  &__title {
    font-family : @font2;
    font-weight : bold;
    font-size   : 48px;
    line-height : 66px;
    text-align  : center;
    color       : #262525;
    margin      : 0;
  }

  &__subtitle {
    font-size   : 16px;
    line-height : 24px;
    color       : #000;
    text-align  : center;
    margin      : 0;
  }

  &__table {
    margin-top      : 45px;
    background      : #FFF;
    box-shadow      : 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius   : 10px;
    padding         : 32px;
    display         : flex;
    justify-content : center;

    @media @mobile {
      flex-direction : column;
      align-items    : center;
    }

    @media (max-width : 400px) {
      padding : 15px;
    }
  }

  &__column {
    display        : flex;
    flex-direction : column;
    flex           : 1 1 0px;
    width          : 380px;
    margin         : 0 10px;

    @media (max-width : 400px) {
      width : 100%;
      flex  : unset;
    }
  }

  &__row {
    font-size     : 16px;
    line-height   : 24px;
    min-height    : 44px;
    width         : 100%;
    flex          : 0 0 80px;
    display       : flex;
    align-items   : center;
    padding       : 0 10px;
    border-bottom : 1px solid #E4E4E4;

    @media (max-width : 450px) {
      flex-direction : column;
      align-items    : flex-start;
    }
  }

  &__type {
    color   : #777;
    display : block;
    flex    : 1 1 0px;
  }

  &__value {
    font-weight     : bold;
    text-align      : right;
    color           : #262525;
    display         : block;
    flex            : 1 1 0px;
    text-decoration : none;

    @media (max-width : 450px) {
      text-align : left;
    }
  }


}