.footer {
  background : #262525;
  position   : relative;
  margin-top : auto;

  &__bottom {
    background  : #000;
    min-height  : 100px;
    padding-top : 56px;
  }

  &__top {
    position    : relative;
    min-height  : 100px;
    padding-top : 20px;
  }

  &__top-inner {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
  }

  &__logo {
    .size(175px, 38px);
    background      : url('../../img/footer-logo.svg') no-repeat;
    background-size : contain;
    position        : absolute;
    left            : calc(50% - 87px);
    bottom          : -19px;
  }

  &__menu-list {
    justify-content : center;
    padding         : 0;
  }

  &__bottom-inner {
    display : flex;
  }

  &__block {
    font-size : 14px;

    &_left {
      margin : 0 auto;
      flex   : 0 0 30%;
    }

    &_center {
      margin     : 0 auto;
      flex       : 0 0 40%;
      text-align : center;
    }

    &_right {
      margin-left     : auto;
      flex            : 0 0 30%;
      display         : flex;
      justify-content : flex-end;
    }
  }

  &__dark-text {
    color : #777;
  }

  &__light-text {
    color : #FFF;
  }

  .letsrock-logo {
    .size(100px, 21px);
    background      : url('../../img/letsrock.svg') no-repeat;
    background-size : contain;
  }

  &__link {
    transition : opacity .5s ease;

    &:hover {
      opacity : 0.6;
    }
  }

  @media @mobile {
    &__top-inner {
      flex-direction : column;
    }

    &__menu-list {
      flex-direction : column;
    }

    &__logo {
      position : static;
    }
  }
}

.footer {
  background : #262525;
  position   : relative;

  &__bottom {
    background  : #000;
    min-height  : 100px;
    padding-top : 56px;
  }

  &__top {
    position    : relative;
    min-height  : 100px;
    padding-top : 20px;
  }

  &__top-inner {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
  }

  &__logo {
    .size(175px, 38px);
    background      : url('../../img/footer-logo.svg') no-repeat;
    background-size : contain;
    position        : absolute;
    left            : calc(50% - 87px);
    bottom          : -19px;
  }

  &__menu-list {
    justify-content : center;
    padding         : 0;
  }

  &__bottom-inner {
    display : flex;
  }

  &__block {
    font-size : 14px;

    &_left {
      margin : 0 auto;
      flex   : 0 0 30%;
    }

    &_center {
      margin     : 0 auto;
      flex       : 0 0 40%;
      text-align : center;
    }

    &_right {
      margin-left     : auto;
      flex            : 0 0 30%;
      display         : flex;
      justify-content : flex-end;
    }
  }

  &__dark-text {
    color : #777;
  }

  &__light-text {
    color : #FFF;
  }

  .letsrock-logo {
    .size(100px, 21px);
    background      : url('../../img/letsrock.svg') no-repeat;
    background-size : contain;
  }

  &__link {
    transition : opacity .5s ease;

    &:hover {
      opacity : 0.6;
    }
  }

  @media @mobile {
    &__top-inner {
      flex-direction : column;
      align-items    : center;
    }

    &__menu-list {
      flex-direction : column;
    }

    &__bottom-inner {
      flex-direction : column;
      align-items    : center;
    }

    &__block_center {
      display        : flex;
      flex-direction : column;
    }

    &__block_right {
      display        : flex;
      flex-direction : column;
      align-items    : center;
      margin-left    : 0;
    }

    &__logo {
      position : static;
    }

    &__block {
      margin : 10px 0;
    }

    &__bottom {
      padding : 10px;
    }
  }
}