.form {
  display        : flex;
  position       : relative;
  flex-direction : column;

  &_sb {
    position : relative;
    margin   : 30px auto 150px;
    padding  : 4px 56px 32px;

    &:after {
      .pseudo();
      left            : 0;
      bottom          : -43px;
      height          : 50px;
      width           : 100%;
      background-size : contain;
      background      : url('../../img/form-edge.svg') top;
    }
  }

  &__sale {
    &-wrap {
      position : absolute;
      right    : 0;
      top      : 0px;
      .size(120px);
      overflow : hidden;
    }

    &-block {
      .size(120px, 24px);
      transform       : rotate(45deg);
      background      : #EB5757;
      text-align      : center;
      height          : 24px;
      width           : 120px;
      top             : 20px;
      position        : relative;
      left            : 30px;
      color           : #FFF;
      display         : flex;
      justify-content : center;
      align-items     : center;
    }

    &-text {
      line-height : 19px;
      font-size   : 14px;
    }
  }

  &__input {
    border        : none;
    border-bottom : 1px solid #E4E4E4;
    position      : relative;
    z-index       : 1;
    font-size     : 14px;
    padding       : 8px;
    color         : #262525;
    .size(100%);

    &.error {
      border-bottom : 1px solid #9E0000
    }

    &:focus,
    &:not(:invalid) {
      outline : none;

      & ~ .form__label {
        color     : #8EBA5B;
        font-size : 12px;
        top       : -18px;
      }
    }
  }

  &__textarea {
    height     : 46px;
    max-width  : 100%;
    min-width  : 100%;
    max-height : 200px;
  }


  &__input-wrap {
    position   : relative;
    margin-top : 28px;
    height     : 34px;

    &_auto {
      height     : auto;
      min-height : 34px;
    }

    textarea {
      //resize: none;
    }
  }

  &__text {
    font-weight : normal;
    font-size   : 12px;
    line-height : 16px;
    color       : #777;
    padding-top : 15px;
  }

  &__label {
    position       : absolute;
    left           : 8px;
    top            : 3px;
    z-index        : 2;
    font-size      : 14px;
    color          : #777;
    transition     : all .15s ease-in-out;
    pointer-events : none;

    &_active {
      color     : #8EBA5B;
      font-size : 12px;
      top       : -18px;
    }
  }

  &__title {
    font-weight : bold;
    font-size   : 16px;
    color       : #262525;
    padding     : 0;
    margin      : 0;
    max-width   : 220px;
    line-height : normal;

    &_big {
      max-width   : unset;
      font-size   : 30px;
      font-family : @font2;

      @media @tablet-area {
        text-align : center;
      }
    }
  }

  &__subtitle {
    font-weight : normal;
    font-size   : 14px;
    color       : #262525;
    padding     : 20px 0 0 0;
    margin      : 0;
    max-width   : 250px;
    line-height : normal;
  }
}