.header {
  position   : relative;
  left       : 0;
  top        : 0;
  width      : 100%;
  z-index    : 20;
  background : #FFF;
  height     : 64px;

  &__inner {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    height          : 100%;
    transition      : max-height 1s ease-in-out;
  }

  &__logo {
    .size(183px, 40px);
    background-image  : url("../../img/logo.svg");
    background-size   : contain;
    background-repeat : no-repeat;
  }

  &__btn-enter {
    margin-left : 50px;
  }

  &__hamburger {
    .size(30px);
    position : absolute;
    left     : 10px;
    top      : 5px;
    display  : none;

    .line {
      display          : block;
      width            : 30px;
      height           : 3px;
      background-color : @black;
      border-radius    : 2px;
      margin           : 8px auto;
      transition       : all 0.3s ease-in-out;
    }

    &:hover {
      cursor : pointer;
    }

    &.is-active .line:nth-child(2) {
      opacity : 0;
    }

    &.is-active .line:nth-child(1) {
      transform : translateY(10px) rotate(45deg);
    }

    &.is-active .line:nth-child(3) {
      transform : translateY(-12px) rotate(-45deg);
    }
  }

  @media @tablet-area {
    height : auto;

    &__logo {
      .size(143px, 30px);
      margin : 10px;
      flex   : 0 0 30px;
    }

    &__inner {
      justify-content : flex-start;
      max-height      : 50px;
      overflow        : hidden;
      padding-bottom  : 20px;
      flex-direction  : column;

      &.header__inner_opened {
        max-height : 800px;
      }
    }

    &__hamburger {
      display : block;
    }

    &__navigation-list {
      flex-direction : column;
    }

    &__btn-enter {
      margin-left : 0;
    }

    &__btn-lang {
      margin: 10px auto 20px;
    }

  }

}