.histories {
  background : #F4F5F9;
  padding    : 100px 0;
  position   : relative;

  &__title {
    font-family    : @font2;
    font-weight    : bold;
    font-size      : 48px;
    line-height    : 66px;
    text-align     : center;
    color          : #262525;
    padding-bottom : 60px;
    margin         : 20px 0 0;
    position       : relative;
  }

  &_edge {
    background : linear-gradient(transparent 330px, #F4F5F9 330px, #F4F5F9);
    margin-top : 30px;

    @media @mobile {
      background : linear-gradient(transparent 200px, #F4F5F9 200px, #F4F5F9);
    }

    @media @tablet-area {
      background : #F4F5F9;
      margin-top : 0;
    }
  }

  &__bottom {

  }

  &__edge {
    position : absolute;
    left     : 0;
    width    : 100%;
    height   : 330px;
    z-index  : 0;
    top      : 1px;

    @media @mobile {
      height   : 200px;
    }

    img {
      .size(100%);
    }
  }

  &__slide {
    padding : 20px 10px;
  }

  &__slide-inner {
    display         : flex;
    text-decoration : none;

    &:hover {
      .histories__slider-description {
        box-shadow : 0px 8px 16px rgba(0, 0, 0, 0.08);
      }

      .histories__slider-image-block {
        box-shadow : 0px 8px 16px rgba(0, 0, 0, 0.08);
      }
    }
  }

  &__slider-description {
    height                    : 419px;
    background                : #FFF;
    align-self                : center;
    padding                   : 28px;
    display                   : flex;
    flex-direction            : column;
    flex                      : 1 0 0px;
    border-bottom-left-radius : 10px;
    border-top-left-radius    : 10px;
    transition                : box-shadow .5s ease;
  }

  &__slider-image-block {
    height        : 452px;
    box-shadow    : 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius : 10px;
    overflow      : hidden;
    transition    : box-shadow .5s ease;


    img {
      width : 100%;
    }
  }

  &__slider-number {
    font-size : 14px;
    color     : #777;
    margin    : 0;
  }

  &__slider-title {
    margin      : 0;
    font-weight : bold;
    font-size   : 24px;
    color       : #262525;
  }

  &__arrow {
    background-color : #FFF;

    @media (max-width : 1315px) {
      display : none !important;
    }
  }

  &__slider-description-text {
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
    margin      : 16px 0px;
  }

  &__slider-cart-table {
    display : flex;
  }

  &__slider-cart {
    flex          : 1;
    text-align    : center;
    border        : 1px solid #E4E4E4;
    box-sizing    : border-box;
    border-radius : 5px;
    padding       : 10px 10px 16px;
    margin-right  : 30px;

    &:last-child {
      margin : 0;
    }
  }

  &__slider-cart-title {
    font-weight : bold;
    font-size   : 32px;
    line-height : 48px;
    color       : #262525;
    margin      : 0;
  }

  &__slider-cart-subtitle {
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
    margin      : 0;
  }

  &__slider-link {
    margin-top : auto;
    align-self : flex-start;
  }

  .arrow {
    position : absolute;
    top      : calc(50% - 24px);

    &_prev {
      left : -60px;
    }

    &_next {
      right : -60px;
    }

  }

  @media @tablet-area {
    padding : 50px 0;

    &__title {
      font-size   : 25px;
      line-height : 28px;
    }

    &__slide-inner {
      flex-direction  : column-reverse;
      align-items     : center;
      justify-content : center;
      overflow        : hidden;
    }

    &__slider-image-block {
      height        : auto;
      border-radius : 0;
      max-width     : 600px;
    }

    &__slider-description {
      max-width : 600px;
      width     : 100%;
      height    : auto;
      padding   : 15px;
      flex      : 1 0 auto;
    }

    &__slider-link {
      margin-top : 20px;
    }

    &__slider-cart-table {
      flex-direction : column;
    }

    &__slider-cart {
      margin : 10px;

      &:last-child {
        margin : 10px;
      }
    }
  }


}