.job {
  background : #FFF;
  position   : relative;

  @media @desktop {
    padding-top : 30px;
  }

  &__inner {
    position : relative;
  }

  &__top {
    display  : flex;
    position : relative;
    z-index  : 1;
  }

  &__circle {
    position : absolute;

    &_1 {
      background : url("../../img/job-ellipse-1.svg") no-repeat;
      top        : -110px;
      left       : -1100px;
      .size(962px);
    }

    &_2 {
      background : url("../../img/job-ellipse-2.svg") no-repeat;
      top        : 50%;
      right      : -1206px;
      max-height : 800px;
      .size(1763px);
    }
  }

  &__image-block {
    background      : url("../../img/job-image-bg.svg") no-repeat left;
    background-size : contain;
    height          : 580px;
    position        : relative;
    flex            : 0 0 640px;
    overflow        : hidden;

    &:after {
      .pseudo;
      background      : url('../../img/job-mask.svg') no-repeat left;
      background-size : contain;
      height          : 100%;
      top             : 0;
      width           : 600px;
    }

    &:before {
      .pseudo;
      background      : url('../../img/job-arrow.svg') no-repeat left;
      background-size : contain;
      top             : 14px;
      right           : 0;
      width           : 319px;
      height          : 127px;
      z-index         : 2;
    }
  }

  &__links-block {
    flex           : 0 0 400px;
    max-height     : 450px;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;

    &_main {
      max-height : 530px;
    }

    @media @tablet-area {
      max-height : unset;
    }
  }

  &__heading {
    font-family : @font2;
    font-weight : bold;
    font-size   : 48px;
    line-height : 66px;
    text-align  : center;
    color       : #262525;
  }

  &__notebook {
    position    : absolute;
    height      : 400px;
    top         : calc(50% - 200px);
    right       : 0;
    transition  : transform .5s ease;
    will-change : transform, opacity;

    &_edit {
      transform : translateX(-50px);
    }


  }

  &__accordeon {
    position    : relative;
    transition  : height 1s ease;
    will-change : height;
    width       : 100%;

    &:before {
      .pseudo;
      width      : 2px;
      height     : calc(100% - 36px);
      left       : 10px;
      top        : 15px;
      background : #8EBA5B;
    }
  }

  &__accordeon-item {
    padding-left   : 33px;
    padding-bottom : 24px;
    position       : relative;

    &:after {
      .pseudo;
      left       : 7px;
      top        : 10px;
      background : url("../../img/marker-m.svg");
      .size(9px);
      transition : opacity 1s ease-in;
      opacity    : 1;
    }

    &:last-of-type {
      padding-bottom : 0px;

      &:before {
        .pseudo;
        .size(10px, calc(100% + 20px));
        left             : 5px;
        top              : 10px;
        background-color : #FFF;
      }
    }

    &_active {
      &:after {
        opacity : 0;
      }

      .job__accordeon-hidden {
        display    : block;
        max-height : 120px;
        opacity    : 1;
      }

      .job__accordeon-title {
        color     : #8EBA5B;
        transform : scale(1.1) translateX(13px);
      }
    }
  }

  &__dot {
    .pseudo;
    left        : -2px;
    top         : 0;
    margin-top  : 3px;
    background  : url("../../img/marker-xl.svg");
    .size(25px);
    z-index     : 3;
    transition  : transform .5s ease-out;
    will-change : transform;
  }

  &__accordeon-title {
    z-index         : 1;
    display         : block;
    font-weight     : bold;
    font-size       : 18px;
    color           : #777;
    margin          : 0;
    left            : -30px;
    position        : relative;
    padding         : 0 0 10px 30px;
    text-decoration : none;
    transition      : color .5s ease, font-size .5s ease-out, height .5s ease, transform .5s ease;
  }

  &__accordeon-text {
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
    padding     : 0;
    margin      : 0;
  }

  &__accordeon-hidden {
    max-height : 0;
    overflow   : hidden;
    transition : max-height 1s ease, opacity .5s ease;
    opacity    : 0;
  }

  &__btn {
    margin : 30px 0 0 30px;
  }

  &__bottom {
    display         : flex;
    position        : relative;
    justify-content : space-between;
    z-index         : 1;
    top             : -30px;
  }

  &__cart {
    background     : #FFF;
    border         : 1px solid #E4E4E4;
    box-sizing     : border-box;
    border-radius  : 10px;
    height         : 220px;
    width          : 220px;
    margin-right   : 20px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    padding        : 22px 15px;
    transition     : box-shadow .5s ease;

    &:last-child {
      margin-right : 0;
    }
  }

  &__cart-title {
    font-size       : 14px;
    text-align      : center;
    color           : #000;
    width           : 160px;
    line-height     : 20px;
    margin          : 0;
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex            : 0 0 40px;
  }

  &__cart-image {
    flex : 0 0 140px;
  }

  &__accordeon-image {
    display   : none;
    width     : 100%;
    margin    : 10px 0;
    max-width : 400px;
  }

  &__accordeon-img {
    width : 100%;
  }

  @media @tablet-area {
    padding : 50px 0;

    &__heading {
      font-size   : 25px;
      line-height : 28px;
    }

    &__links-block {
      display        : flex;
      flex-direction : column;
      height         : auto;
      flex           : 1 1 0px;
    }

    &__accordeon-item_active {
      .job__accordeon-hidden {
        max-height : 400px;
      }
    }

    &__accordeon-item {
      padding-bottom : 0;
    }

    &__btn {
      align-self : center;
      margin     : 20px auto;
    }

    &__cart {
      margin : 5px;
    }

    &__bottom {
      flex-wrap       : wrap;
      justify-content : center;
      top             : 0;
    }

    &__accordeon-image {
      display : block;
    }

    &__image-block {
      display : none;
    }

    &__circle {
      display : none;
    }

    &__accordeon-title {
      font-size : 16px;
    }

    &__accordeon-text {
      max-width : 450px;
    }

    &__accordeon-item {
      &_active {
        .job__accordeon-title {
          font-size : 16px;
          transform : none;
        }
      }
    }
  }
}