.modal {
  max-width     : 800px;
  border-radius : 10px;

  &__input-text {
    border        : none;
    border-bottom : 1px solid #828282;
    outline       : none !important;
  }

  &__form-title {

  }

  &__inner {
    height   : 750px;
    padding  : 61px 41px;
    position : relative;
  }

  &__btn {
    display    : inline-block;
    margin-top : 20px;
  }

  &__title {
    font-weight : bold;
    font-size   : 48px;
    line-height : normal;
    color       : #333;
    margin      : 16px 0;
  }

  &__input {
    margin-top : 5px;
  }

  &__text {
    font-size   : 18px;
    line-height : 28px;
  }

  .colored {
    &_red {
      color : #E32026;
    }

    &_black {
      color : #333;
    }
  }

  &__exit {
    position        : absolute;
    top             : 30px;
    left            : 40px;
    width           : 24px;
    height          : 24px;
    //background: url("../../../img/glx-modal-exit.png") no-repeat;
    background-size : contain;
    transition      : transform .3s ease;

    &:hover {
      transform : rotate(90deg);
    }
  }

  &_type {
    &_success {
      //background: url("../img/glx-modal-bg.png") no-repeat;
      background-size : cover;

      @media (max-width : 600px) {
        background : #FFF;
      }

      .modal__inner {
        display         : flex;
        flex-direction  : column;
        justify-content : flex-end;
      }

      .modal__text {
        color     : #828282;
        max-width : 300px;
      }
    }

    &_error {
      height : 329px;

      .modal__inner {
        padding : 103px 64px 64px;
      }

      .modal__title {
        font-style   : normal;
        font-weight  : bold;
        font-size    : 48px;
        line-height  : normal;
        text-align   : left;
        color        : #EB5757;
        position     : relative;
        padding-left : 60px;

        &:before {
          left              : 0;
          top               : 0;
          width             : 48px;
          height            : 48px;
          position          : absolute;
          content           : "";
          //background-image: url("../img/glx-modal-error.png");
          background-repeat : no-repeat;
        }
      }

      .modal__text {
        font-size   : 18px;
        line-height : 28px;
        color       : #828282;
      }
    }
  }
}

@media (max-width : 830px) {
  .modal {
    margin : auto 15px;
  }
}