.modal {
  max-width : 560px;
  position  : fixed;
  display   : none;

  &_video {
    background : none;
    border     : 1px solid black;
    //border-bottom: none;
    box-sizing : content-box !important;

    .modal__close-container {
      top     : -42px;
      right   : -35px;
      z-index : 0;

      @media @tablet-area {
        top          : 0;
        right        : 0;
        background   : rgba(255, 255, 255, 0.47);
        padding-left : 5px;
        .size(30px);
      }

      .modal__close-line {
        background : black;

        @media @tablet-area {
          margin-top : 14px;
        }
      }
    }
  }

  &_send-request {
    text-align : center;
  }

  &_send-request {
    max-width : 320px;

    @media (max-width : 340px) {
      margin : auto 10px;
    }
  }

  &_form-request {
    max-width : 1183px;

    @media (max-width : 1200px) {
      margin : auto 10px;
    }
  }

  &__inner {
    padding : 20px;
  }

  &__title {
    font-family : @font2;
    font-size   : 24px;
    color       : darken(@black, 20%);
  }

  &__subtitle {
    font-size : 16px;
    color     : @black;
  }

  &__close-container {
    right    : 18px;
    top      : 10px;
    position : absolute;
    .size(30px, 50px);
    cursor   : pointer;
    z-index  : 10;

    &:hover {
      .modal__close-line {
        transform        : rotate(-45deg);
        background-color : darken(@black, 25%);

        &:nth-child(2) {
          transform : rotate(45deg);
        }
      }
    }

    @media (max-width : 500px) {
      .size(20px, 20px);
      top : -38px;
    }
  }

  &__close-line {
    height           : 2px;
    width            : 30px;
    position         : absolute;
    margin-top       : 24px;
    background-color : @black;
    border-radius    : 2px;
    transform        : rotate(45deg);
    transition       : all .3s ease-in;

    &:nth-child(2) {
      transform : rotate(-45deg);
    }

    @media (max-width : 500px) {
      width : 20px;
    }
  }
}