.navigation {
	&_404 {
		&.navigation__list {
			flex-direction : column;
		}
	}

	&__list {
		display : flex;
		margin  : 0;
		padding : 12px 0;
	}

	&__item {
		border-bottom : 3px solid transparent;
		transition    : border-bottom-color .5s ease;
		list-style    : none;
		margin        : 0 4px;
		padding       : 0 11px;
		height        : 40px;

		&_active, &:hover {
			border-bottom : 3px solid #8EBA5B;

			.navigation__link {
				color : #8EBA5B;
			}
		}
	}

	&__link {
		font-family     : Noto Sans;
		font-size       : 14px;
		text-align      : center;
		color           : #777;
		text-decoration : none;
		transition      : color .5s ease;
		display         : flex;
		justify-content : center;
		align-items     : center;
		.size(100%);
	}

	@media @tablet-area {
		&__list {
			flex-direction : column;
		}
	}
}