.partners {
  background : #FFF;
  position   : relative;
  z-index    : 1;
  padding    : 56px 0 80px;

  &_edge {
    background : linear-gradient(transparent 200px, #fdfdfd 200px, #fdfdfd);
    margin-top : 30px;

    @media @mobile {
      background : #FFF;
      margin-top : 0;
    }
  }

  &__logo {
    max-width  : 100%;
    max-height : 100%;
  }

  &__edge {
    position : absolute;
    left     : 0;
    width    : 100%;
    height   : 200px;
    z-index  : 0;
    top      : 1px;

    img {
      .size(100%);
    }

    @media @mobile {
      display : none;
    }
  }

  &__title {
    font-family : @font2;
    font-weight : bold;
    font-size   : 48px;
    line-height : 66px;
    text-align  : center;
    color       : #262525;
    margin      : 0;
    position    : relative;
  }

  &__subtitle {
    font-size   : 16px;
    line-height : 24px;
    text-align  : center;
    color       : #777;
    position    : relative;
    max-width   : 814px;
    margin      : 20px auto 0;
  }

  &__logo-slider {
    margin-top : 66px;
  }

  .arrow {
    position : absolute;
    top      : calc(50% - 24px);

    &_prev {
      left : -60px;
    }

    &_next {
      right : -60px;
    }

    @media (max-width : 1315px) {
      display : none;
    }

  }

  &__logo-slide {
    max-width : 145px;
    height    : 80px;
    padding   : 5px;
  }

  @media (max-width : 450px) {
    &__title {
      font-size   : 25px;
      line-height : 28px;
    }

    &__logo-slide {
      width : 100%;
    }

    .slick-slide {
      display         : flex;
      justify-content : center;
    }
  }
}