.request {
  background : #F4F5F9;
  padding    : 100px 0;
  position   : relative;

  &__title {
    font-weight : bold;
    font-size   : 48px;
    line-height : 66px;
    text-align  : center;
    color       : #262525;
    margin      : 0 0 40px;
  }

  &__title {

  }

  &__form {
    max-width   : 316px;
    margin-left : 10%;
  }

  &__form-wrap {
    padding             : 48px;
    box-shadow          : 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius       : 10px;
    background-image    : url("../../img/request-bg.svg");
    background-color    : #FFF;
    background-repeat   : no-repeat;
    background-position : 80%;
    background-size     : 532px 429px;
  }

  @media @tablet-area {
    padding : 50px 0;

    &__title {
      font-size   : 25px;
      line-height : 28px;
    }

    &__form-wrap {
      background-image : none;
      padding          : 20px;
    }

    &__form {
      max-width    : 550px;
      margin-left  : auto;
      margin-right : auto;
    }
  }


}