.tasks {
  background     : linear-gradient(transparent 330px, #F4F5F9 330px, #F4F5F9);
  position       : relative;
  padding-bottom : 120px;
  padding-top    : 150px;

  &__edge {
    position : absolute;
    left     : 0;
    width    : 100%;
    height   : 330px;
    z-index  : 0;
    top      : 1px;

    img {
      .size(100%);
    }
  }

  &__inner {
    position : relative;
    z-index  : 1;
  }

  &__title {
    font-weight : bold;
    font-size   : 48px;
    line-height : 66px;
    color       : #262525;
    font-family : @font2;
    margin      : 0;
    max-width   : 780px;
  }

  &__subtitle {
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
    max-width   : 484px;
  }

  &__table {
    display   : flex;
    flex-wrap : wrap;
  }

  &__item {
    display        : flex;
    flex-direction : column;
    flex           : 1;
    background     : #FFF;
    padding        : 32px;
    margin-top     : 20px;
    margin-right   : 20px;
    border-radius  : 10px;
    transition     : box-shadow .5s ease;

    &:last-child {
      margin-right : 0;
    }

    &_wide {
      flex         : 1 1 100%;
      margin-right : 0;
    }

    &:hover {
      box-shadow : 0px 8px 16px rgba(0, 0, 0, 0.08);
    }
  }

  &__item-title {
    font-weight : bold;
    font-size   : 22px;
    line-height : normal;
    color       : #262525;
    margin      : 0;
    min-height  : 60px;
  }

  &__item-text {
    font-size   : 16px;
    line-height : 24px;
    color       : #777;
    margin      : 20px 0;
  }

  &__item-link {
    position   : relative;
    align-self : flex-start;
    margin-top : auto;
  }

  @media @mobile {
    background : #F4F5F9;
    padding    : 50px 0;

    &__title {
      font-size   : 25px;
      line-height : 28px;
    }


    &__item {
      flex : 0 0 100%;
    }
  }

}