.welcome {
  background-color    : #F4F5F9;
  background-repeat   : no-repeat;
  background-position : calc(50% + 30px) calc(50% - 100px);
  overflow            : hidden;
  position            : relative;

  &_main {
    background-image : url("../../img/welcome-bg.png");
  }

  &:after {
    width           : 100%;
    height          : 180px;
    position        : absolute;
    bottom          : 0;
    left            : 0;
    content         : '';
    background      : url("../../img/welcome-bottom-edge.svg") no-repeat bottom;
    background-size : 100%;
    pointer-events  : none;
  }

  &__inner {
    display        : flex;
    flex-direction : column;
    padding-top    : 60px;
  }

  &__top {
    display         : flex;
    justify-content : space-between;
  }

  &__bottom {
    display         : flex;
    justify-content : space-between;
    padding-top     : 80px;
  }

  &__cart {
    display                 : flex;
    flex-direction          : column;
    text-align              : center;
    width                   : 280px;
    height                  : 270px;
    background              : #FFF;
    border-top-left-radius  : 50%;
    border-top-right-radius : 50%;
    position                : relative;
    padding                 : 44px 28px;
    transition              : transform .3s ease;
    bottom                  : -20px;

    @media @desktop {
      &:hover {
        transform : translateY(-20px);
      }
    }
  }

  &__cart-title {
    font-family : @font2;
    font-weight : bold;
    font-size   : 24px;
    color       : #8EBA5B;
    max-width   : 150px;
    padding     : 0;
    margin      : 0;
    align-self  : center;
    height      : 60px;
  }

  &__text-block {
    max-width      : 448px;
    pointer-events : none;
    z-index        : 10;
    position       : relative;
    padding        : 0;
    margin         : 0;
  }

  &__cart-text {
    padding : 0;
    margin  : 0;
  }

  &__title {
    font-family    : @font2;
    font-style     : normal;
    font-weight    : bold;
    font-size      : 48px;
    line-height    : 66px;
    color          : #262525;
    pointer-events : none;
    z-index        : 10;
    position       : relative;

    &_sb {
      max-width : 912px;
      margin    : auto;
    }
  }

  &__sub-title {
    font-size      : 16px;
    line-height    : 24px;
    color          : #777;
    pointer-events : none;
    z-index        : 10;
    position       : relative;

    &_sb {
      max-width   : 495px;
      margin      : auto;
      padding-top : 20px;

      strong {
        color : #262525;
      }
    }

    &_partner {
      margin    : 0 auto;
      max-width : 580px;
    }
  }

  &__play-video {
    .size(128px);

    @media @desktop {
      position : absolute;
      top      : calc(50% - 200px);
      left     : calc(50% - 64px);
    }

    @media @mobile {
      align-self : center;
      position   : relative;
    }

    &:after {
      .size(60px);
      .pseudo();
      left             : calc(50% - 30px);
      top              : calc(50% - 30px);
      border-radius    : 50%;
      background-color : #8EBA5B;
      transition       : background-color 1s ease;
      z-index          : 9;
    }

    &:hover {
      .welcome__wave {
        border-color : #C75252;
      }

      &:after {
        background-color : #C75252;
      }
    }

    &:active {
      &:after {
        background-color : #9A3F3F;
      }
    }
  }

  &__play-icon {
    z-index    : 10;
    left       : calc(50% - 8px);
    top        : calc(50% - 11px);
    .size(22px);
    background : url("../../img/play.svg");
    position   : absolute;
  }

  &__wave {
    .size(128px);
    top           : 0;
    left          : 0;
    border        : 1px solid #8EBA5B;
    border-radius : 50%;
    position      : absolute;
    animation     : wave1 1.5s linear infinite;
    transition    : border-color .5s ease, transform .5s ease;
    opacity       : 0;

    &_delay1 {
      animation-delay : .3s;
    }

    &_delay2 {
      animation-delay : .6s;
    }
  }


  @keyframes wave1 {
    0% {
      transform : scale(0.4);
      opacity   : 0;
    }
    40% {
      transform : scale(0.5);
      opacity   : 0.5;
    }
    80% {
      transform : scale(0.9);
      opacity   : 1;
    }
    100% {
      transform : scale(1.1);
      opacity   : 0;
    }
  }


  &__form {
    width         : 380px;
    background    : #FFF;
    padding       : 32px;
    border-radius : 10px;
    position      : relative;
    z-index       : 5;

    @media (max-width : 400px) {
      width : 100%;
    }
  }

  &__form-btn {
    margin-top : 32px;
    align-self : center;
  }

  &__bg {
    position : absolute;
    z-index  : 0;
    .size(100%);
  }

  &__btn-block {
    display : flex;

    @media @mobile {
      flex-direction : column;
    }
  }

  &__btn {
    margin : 10px;
  }

  &_page {
    &_contacts {
      min-height       : 600px;
      text-align       : center;
      display          : flex;
      flex-direction   : column;
      justify-content  : flex-start;
      align-items      : center;
      background-image : none;

      &:after {
        display : none;
      }

      .welcome__inner {
        padding-top     : 120px;
        flex-direction  : column;
        justify-content : flex-start;
        align-items     : center;
      }

      .welcome__title {
        margin : 0;
      }

      .welcome__sub-title {
        max-width : 650px;
      }

      .welcome__btn_light {
        border          : 1px solid #8EBA5B;
        box-sizing      : border-box;
        border-radius   : 20px;
        height          : 40px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        padding         : 0 10px;
        font-size       : 14px;
        line-height     : normal;
        text-align      : center;
        color           : #8EBA5B;
        text-decoration : none;
        z-index         : 2;
        position        : relative;
        transition      : color .5s ease, background-color .5s ease;

        &:hover {
          color            : #FFF;
          background-color : #8EBA5B;
        }

        &:active {
          background-color : #71974C;
        }
      }


    }
  }

  @media @tablet-area {
    //margin-top       : 50px;
    background-image : none;

    &_page {
      &_contacts {
        min-height : 450px;
      }
    }

    &:after {
      display : none;
    }

    &__bottom {
      padding-top    : 10px;
      padding-bottom : 50px;
    }

    &__title {
      font-size   : 36px;
      line-height : normal;
    }

    &__top {
      flex-direction : column;
    }

    &__play-video {
      margin : 30px 0;
    }

    &__bottom {
      flex-direction : column;
    }

    &__cart {
      width                   : 100%;
      height                  : auto;
      border-radius           : 10px;
      border-top-left-radius  : 10px;
      border-top-right-radius : 10px;
      margin-bottom           : 10px;
      text-align              : left;
    }

    &__cart-title {
      align-self : flex-start;
      max-width  : 100%;
    }
  }
}