/*!
 * Bootstrap v2.2.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
hr, img {
    border: 0
}

.clearfix:after, .modal-footer:after, .modal-header:after, .nav-tabs:after, .row-fluid:after, .row:after {
    clear: both
}

.popover, .tooltip-alive {
    font-family: MVideo, Arial, Helvetica, sans-serif
}

.modal, a {
    outline: 0
}

.btn-group, .fancybox-error, .label {
    white-space: nowrap
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:active {
    background-color: transparent
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

#map_canvas img, .google-maps img {
    max-width: none
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button, input {
    line-height: normal
}

.row-fluid:after, .row-fluid:before, .row:after, .row:before {
    display: table;
    content: "";
    line-height: 0
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

.collapse, .controls-group, .progress-pass-title {
    overflow: hidden
}

.row {
    margin-left: -20px
}

[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 20px
}

.container, .span8 {
    width: 940px
}

.span7 {
    width: 820px
}

.span6 {
    width: 700px
}

.span5 {
    width: 580px
}

.span4 {
    width: 460px
}

.span3 {
    width: 340px
}

.span2 {
    width: 220px
}

.span1 {
    width: 100px
}

.row-fluid, .row-fluid .span8 {
    width: 100%
}

.row-fluid [class*=span] {
    display: block;
    width: 100%;
    min-height: 27px;
    box-sizing: border-box;
    float: left;
    margin-left: 2.1276595745%
}

.row-fluid [class*=span]:first-child {
    margin-left: 0
}

.row-fluid .controls-row [class*=span] + [class*=span] {
    margin-left: 2.1276595745%
}

.row-fluid .span7 {
    width: 87.2340425532%
}

.row-fluid .span6 {
    width: 74.4680851064%
}

.row-fluid .span5 {
    width: 61.7021276596%
}

.row-fluid .span4 {
    width: 48.9361702128%
}

.row-fluid .span3 {
    width: 36.170212766%
}

.row-fluid .span2 {
    width: 23.4042553191%
}

.row-fluid .span1 {
    width: 10.6382978723%
}

.row-fluid [class*=span].hide, [class*=span].hide {
    display: none
}

address, label {
    display: block
}

.row-fluid [class*=span].pull-right, [class*=span].pull-right {
    float: right
}

p {
    margin: 0 0 8.5px
}

.lead {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 200;
    line-height: 25.5px
}

.text-success, strong {
    font-weight: 700
}

small {
    font-size: 85%
}

em {
    font-style: italic
}

address, cite {
    font-style: normal
}

.muted {
    color: #999
}

.text-warning {
    color: #c09853
}

a.text-warning:hover {
    color: #a47e3c
}

.text-info {
    color: #3a87ad
}

a.text-info:hover {
    color: #2d6987
}

.text-success {
    color: #0bbb34
}

a.text-success:hover {
    color: #088b27
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.6rem;
    font-size: 3.2rem;
    line-height: 3rem;
    color: inherit
}

.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

.h2, .h3 {
    font-weight: 700
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem
}

.h2, h2 {
    font-size: 2.2rem;
    line-height: 2.6rem
}

.h3, h3 {
    font-size: 1.6rem;
    line-height: 2rem
}

.h4, h4 {
    font-size: 1.4rem;
    line-height: 1.8rem
}

address, blockquote small, dd, dt, li {
    line-height: 17px
}

.h5, h5 {
    font-size: 12px
}

.h6, h6 {
    font-size: 10.2px
}

h1 small {
    font-size: 21px
}

h2 small {
    font-size: 15px
}

h3 small, h4 small {
    font-size: 12px
}

.page-header {
    margin: 0 0 25.5px
}

blockquote p, ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

address, dl {
    margin-bottom: 17px
}

fieldset, form, ol, ul {
    margin: 0
}

ol, ul {
    padding: 0;
    list-style-position: inside
}

ol.unstyled, ul.unstyled {
    margin-left: 0;
    list-style: none
}

dd {
    margin-left: 8.5px
}

hr {
    margin: 17px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #fff
}

abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 0 0 0 1.5rem;
    margin: 0 0 17px;
    border-left: 5px solid #dfdfdf
}

blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 21.25px
}

.control-group label, .label {
    font-weight: 700
}

blockquote small {
    display: block;
    color: #999
}

blockquote small:before {
    content: '\2014 \00A0'
}

blockquote.pull-right {
    float: right;
    padding-right: 1.5rem;
    padding-left: 0;
    border-right: 5px solid #dfdfdf;
    border-left: 0
}

blockquote.pull-right p, blockquote.pull-right small {
    text-align: right
}

blockquote.pull-right small:before {
    content: ''
}

blockquote.pull-right small:after {
    content: '\00A0 \2014'
}

.clearfix:after, .clearfix:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav-tabs:after, .nav-tabs:before, .popover .arrow:after, blockquote:after, blockquote:before, q:after, q:before {
    content: ""
}

fieldset {
    padding: 0;
    border: 0
}

.table td, .table th, .table-3-td {
    border-bottom: 1px solid #dfdfdf
}

button, label {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #333
}

label {
    margin-bottom: .5rem
}

.label {
    display: inline-block;
    padding: .2rem .4rem;
    font-size: 10.15px;
    line-height: 1.4rem;
    color: #fff;
    vertical-align: baseline;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #999
}

.controls > .checkbox:first-child, .controls > .radio:first-child {
    padding-top: .5rem
}

.controls-group + .controls-group {
    padding-top: 2rem
}

.controls-group.last-controls-group {
    border-top: 1px solid #dfdfdf;
    margin-top: .5rem
}

.control-group-sep {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #dfdfdf
}

.control-group-sep .label-checkbox {
    padding-top: .5rem
}

.control-group-sep.nc-payment-options {
    margin-bottom: -.7rem
}

.control-group-description {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-bottom: 1.8rem
}

.control-group {
    margin-bottom: 1.5rem
}

.control-group *, .control-group :after, .control-group :before {
    box-sizing: border-box
}

.control-group label.nobold {
    font-weight: 400
}

.additional-message.error-notification .error-notification-main-text, .close, .popover, .table th, .table-2-thead .table-2-td, .table-3-thead .table-3-td, .tooltip-alive {
    font-weight: 700
}

.control-group .placeholder {
    visibility: hidden
}

.control-group p.body-text {
    line-height: 1.8rem;
    margin-bottom: 1rem
}

.control-group h4 {
    margin-bottom: 0;
    line-height: 2rem
}

.control-group .additional-message {
    margin-bottom: 1rem
}

.control-group .additional-message:last-child {
    margin-bottom: 0
}

.additional-message.error-notification {
    margin-bottom: 2rem
}

.additional-message.error-notification .icon-error {
    color: #ed1c24;
    display: inline-block;
    font-size: 3.3rem;
    float: left
}

.additional-message.error-notification .error-notification-main-text, .additional-message.error-notification .error-notification-text {
    padding-left: 5rem
}

.additional-message.error-notification .error-notification-main-text:last-child, .additional-message.error-notification .error-notification-text:last-child {
    padding-bottom: 0
}

.input-single {
    margin-bottom: 1rem
}

.control-group-single {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.control-group-single-top {
    margin-top: 2rem
}

.control-group-single-bot {
    margin-bottom: 2rem
}

.progress-pass-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-bottom: .5rem
}

.progress-pass-title span {
    float: left
}

.progress-pass-title .pass-status {
    float: right
}

.progress.password-moderate .bar-pass-good, .progress.password-moderate .bar-pass-secure, .progress.password-weak .bar-pass-good, .progress.password-weak .bar-pass-moderate, .progress.password-weak .bar-pass-secure {
    background: #e9eaec;
    filter: none
}

.progress.password-moderate .bar-pass-moderate, .progress.password-moderate .bar-pass-weak {
    background-color: #faf020;
    background-image: linear-gradient(to bottom, #fef433, #f4e800);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEF433', endColorstr='#FFF4E800', GradientType=0)
}

.progress.password-good .bar-pass-secure {
    background: #e9eaec;
    filter: none
}

.progress.password-good .bar-pass-good, .progress.password-good .bar-pass-moderate, .progress.password-good .bar-pass-weak {
    background-color: #cee233;
    background-image: linear-gradient(to bottom, #d5e745, #c3d915);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD5E745', endColorstr='#FFC3D915', GradientType=0)
}

.progress.password-secure .bar-pass-good, .progress.password-secure .bar-pass-moderate, .progress.password-secure .bar-pass-secure, .progress.password-secure .bar-pass-weak {
    background-color: #49ba6b;
    background-image: linear-gradient(to bottom, #59c279, #2dac53);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF59C279', endColorstr='#FF2DAC53', GradientType=0)
}

#confirm-email-with-bonus-card-siebel, #form-confirm-duble-phone-sieble, #form-confirm-phone-with-bonus-card {
    margin-top: 1.5rem
}

@media only screen and (max-width: 1023px) {
    .control-group {
        margin-bottom: 1rem
    }

    .control-group .control-label {
        display: none
    }

    .control-group .placeholder {
        visibility: visible
    }

    .control-group-single {
        margin-bottom: 2rem
    }

    .form-title label {
        display: block
    }

    .controls-group.last-controls-group {
        margin-top: 1.1rem
    }
}

@media only screen and (max-width: 767px) {
    .control-group .controls.span4:first-child {
        margin-bottom: 1rem
    }

    .additional-message.error-notification .error-notification-text {
        padding-left: 4.7rem
    }

    .additional-message.error-notification .icon-error {
        font-size: 2.7rem
    }
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin-bottom: 1.4rem
}

.table td, .table th {
    padding: .8rem 0 .9rem 2.1rem;
    line-height: 1.7rem;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf
}

.table td:first-child, .table th:first-child {
    border-left: 0
}

.table thead th {
    vertical-align: bottom
}

.table caption + thead tr:first-child td, .table caption + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child td, .table thead:first-child tr:first-child th {
    border-top: 0
}

.table tbody + tbody {
    border-top: 2px solid #dfdfdf
}

.table-2col td {
    width: 50%
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: #f5f5f5
}

.row-fluid table td[class*=span], .row-fluid table th[class*=span], table td[class*=span], table th[class*=span] {
    display: table-cell;
    float: none;
    margin-left: 0
}

.table td.span1, .table th.span1 {
    float: none;
    width: 84px;
    margin-left: 0
}

.table td.span2, .table th.span2 {
    float: none;
    width: 204px;
    margin-left: 0
}

.table td.span3, .table th.span3 {
    float: none;
    width: 324px;
    margin-left: 0
}

.table td.span4, .table th.span4 {
    float: none;
    width: 444px;
    margin-left: 0
}

.table td.span5, .table th.span5 {
    float: none;
    width: 564px;
    margin-left: 0
}

.table td.span6, .table th.span6 {
    float: none;
    width: 684px;
    margin-left: 0
}

.table td.span7, .table th.span7 {
    float: none;
    width: 804px;
    margin-left: 0
}

.table td.span8, .table th.span8 {
    float: none;
    width: 924px;
    margin-left: 0
}

.table td.span9, .table th.span9 {
    float: none;
    width: 1044px;
    margin-left: 0
}

.table td.span10, .table th.span10 {
    float: none;
    width: 1164px;
    margin-left: 0
}

.table td.span11, .table th.span11 {
    float: none;
    width: 1284px;
    margin-left: 0
}

.table td.span12, .table th.span12 {
    float: none;
    width: 1404px;
    margin-left: 0
}

.table-2, .table-3 {
    width: 100%;
    border-collapse: collapse
}

.table tbody tr.success td {
    background-color: #dff0d8
}

.table tbody tr.error td {
    background-color: #f2dede
}

.table tbody tr.warning td {
    background-color: #fcf8e3
}

.table tbody tr.info td {
    background-color: #d9edf7
}

.table-hover tbody tr.success:hover td {
    background-color: #d0e9c6
}

.table-hover tbody tr.error:hover td {
    background-color: #ebcccc
}

.table-hover tbody tr.warning:hover td {
    background-color: #faf2cc
}

.table-hover tbody tr.info:hover td {
    background-color: #c4e3f3
}

.table-2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: .5rem
}

.table-2-td {
    padding: 1.5rem 1rem;
    border-top: 1px solid #dfdfdf;
    font-size: 1.4rem;
    line-height: 2rem;
    vertical-align: top
}

.table-2-td:first-child {
    padding-left: 20px
}

.table-2-td:last-child {
    padding-right: 2rem
}

.table-2-thead .table-2-td {
    border-top: none;
    background: #f2f3f5;
    padding-top: 2rem;
    padding-bottom: 2rem;
    vertical-align: middle
}

.table-2-thead .table-2-td i {
    font-size: 1rem;
    padding-left: .7rem
}

.table-2-thead .table-2-td a {
    text-decoration: none;
    color: #333
}

.table-3 {
    font-size: 1.4rem;
    line-height: 2rem
}

.table-3-td {
    padding: .7rem 2rem;
    border-top: 1px solid #dfdfdf
}

.table-3-td:first-child {
    padding-left: 20px
}

.table-3-thead .table-3-td {
    background: #f2f3f5;
    border-top: none;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    vertical-align: top
}

.table-3-thead .table-3-td:first-child {
    border-top-left-radius: .5rem
}

.table-3-thead .table-3-td:last-child {
    border-top-right-radius: .5rem
}

@media only screen and (max-width: 767px) {
    .table-2-thead, .table-3-thead {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    .table-2, .table-2-tbody, .table-2-td, .table-2-th, .table-2-thead, .table-2-tr, .table-3, .table-3-tbody, .table-3-td, .table-3-th, .table-3-thead, .table-3-tr {
        display: block
    }

    .table-2 {
        box-shadow: none
    }

    .table-2-tr {
        border-bottom: 1px solid #dfdfdf;
        padding: .7rem 2rem;
        margin: 0 -2rem
    }

    .table-2-tbody .table-2-tr:first-child {
        border-top: 1px solid #dfdfdf
    }

    .table-2-mobile-head {
        margin-bottom: .7rem
    }

    .table-2-td {
        border: none;
        padding: .9rem 0
    }

    .table-2-td:first-child {
        padding-left: 0
    }

    .table-3-td {
        border: none;
        padding: .9rem 0
    }

    .table-3-td:first-child {
        padding-left: 0
    }

    .table-3-td.text-right {
        text-align: left
    }

    .table-3-mobile-head {
        margin-bottom: .7rem;
        font-weight: 700
    }

    .table-3-tr {
        border-top: 1px solid #dfdfdf;
        padding: .7rem 2rem;
        margin: 0 -2rem
    }

    .table-3-tbody .table-3-tr:first-child {
        border-top: none;
        padding-top: 0
    }

    .table-3-tbody .table-3-tr:first-child .table-3-td:first-child {
        padding-top: 0
    }
}

.alert .close, .btn-group, .btn-group .btn, .collapse {
    position: relative
}

.fade {
    opacity: 0;
    transition: opacity .15s linear
}

.fade.in, .nav-tabs .disabled-area span {
    opacity: 1
}

.collapse {
    height: 0;
    transition: height .35s ease
}

.collapse.in {
    height: auto
}

.close {
    float: right;
    font-size: 2rem;
    line-height: 17px;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    opacity: 20
}

.close:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    opacity: 40
}

button.close {
    padding: 0;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none
}

.btn-group {
    display: inline-block;
    font-size: 0;
    vertical-align: middle
}

.btn-group + .btn-group {
    margin-left: .5rem
}

.btn-group .btn {
    border-radius: 0;
    font-size: 12px
}

.btn-group .btn:first-child {
    margin-left: 0;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem
}

.btn-group .btn:last-child {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem
}

.btn-group .btn.active, .btn-group .btn:active, .btn-group .btn:focus, .btn-group .btn:hover {
    z-index: 2
}

.alert {
    padding: 1.5rem 1.8rem 1.8rem;
    margin-bottom: 1rem;
    background: #fff;
    border: 2px solid #dfdfdf;
    border-radius: .4rem;
    color: #333;
    font-size: 1.4rem;
    line-height: 3rem
}

.alert .font-icon {
    float: left;
    margin: 0 1rem .5rem 0;
    font-size: 4rem
}

.alert .icon-error {
    color: #ed1c24
}

.alert .icon-circle-tick {
    color: #46a546
}

.errors-list {
    padding-top: 2rem
}

.errors-list:first-child {
    padding-top: 0
}

.alert h4 {
    margin: 0
}

ul.alert {
    margin: 0 0 2rem;
    padding-left: 3rem
}

.alert .close {
    top: -.2rem;
    right: -2.1rem;
    line-height: 17px
}

.alert-center {
    text-align: center;
    margin-top: 2.2rem;
    padding: 2.4rem 1.8rem 1.8rem
}

.alert-center h2 {
    margin-bottom: .6rem
}

@media only screen and (max-width: 767px) {
    .alert-center {
        line-height: 1.8rem;
        margin-bottom: 0
    }
}

.alert-with-button {
    padding: 2.4rem 4rem
}

.alert-with-button .error-text {
    overflow: hidden;
    padding: 1rem 0 0 6rem
}

.alert-with-button .error-text h3 {
    margin-bottom: 1.4rem
}

.alert-with-button .error-text p {
    line-height: 1.2
}

.alert-with-button .error-text .error-buttons-holder {
    padding-top: 1rem
}

@media only screen and (max-width: 767px) {
    .alert-center {
        margin-top: -3.3rem;
        z-index: 1;
        position: relative;
        box-sizing: padding-box;
        margin-left: 2rem;
        margin-right: 2rem
    }

    .alert-center h2 {
        margin-bottom: .8rem;
        margin-top: .6rem
    }

    .alert-with-button {
        padding: 2.4rem 1.5rem
    }

    .alert-with-button .error-text {
        overflow: visible;
        padding: 0
    }

    .alert-with-button .error-text h3 {
        font-size: 1.4rem
    }

    .alert-with-button .error-text p {
        line-height: 2.1rem
    }

    .alert-with-button .error-text .error-buttons-holder {
        padding-top: .5rem
    }

    .alert-with-button .btn {
        width: 100%
    }

    .alert .font-icon {
        font-size: 3rem;
        margin-bottom: 0
    }
}

.input-block-level, .popover, .progress .bar, .tooltipster-content {
    box-sizing: border-box
}

.alert-success {
    border-color: #46a546
}

.alert-danger, .alert-error {
    border-color: #ed1c24
}

.alert-info {
    border-color: #ffcb05
}

.alert-info .font-icon {
    color: #ffcb05
}

.alert-block {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem
}

.alert-block > p, .alert-block > ul {
    margin-bottom: 0
}

.alert-block p + p {
    margin-top: .5rem
}

.alert-group.alert-group-error, .alert-group.alert-group-info {
    border: 2px solid
}

.alert-group.alert-group-info {
    border-color: #ffcb05
}

.alert-group.alert-group-error {
    border-color: #ed1c24
}

.alert-group .alert {
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0
}

.alert-group .nc-alert-icon .pict {
    width: 7.5rem;
    height: 5rem;
    margin-left: 1.5rem
}

@media only screen and (max-width: 767px) {
    .alert-group .nc-alert-icon.alert-product .pict {
        width: 5rem;
        margin-left: .8rem;
        padding-right: 1rem;
        padding-bottom: .8rem
    }

    .alert-group .nc-alert-icon.alert-product .alert-content {
        margin-top: 1rem
    }
}

.nav {
    margin-left: 0;
    margin-bottom: 17px;
    list-style: none
}

.nav > li > a {
    display: block
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #dfdfdf
}

.nav > .pull-right {
    float: right
}

.nav-tabs:after, .nav-tabs:before {
    display: table;
    line-height: 0
}

.nav-tabs > li {
    float: left;
    margin-bottom: -.1rem
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs > li > a {
    margin-right: .2rem;
    line-height: 17px;
    border: 1px solid transparent;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    padding: .8rem 1.2rem
}

.nav-tabs > li > a:hover {
    border-color: #dfdfdf #dfdfdf #ddd
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #636466;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.popover, .popover-content a, .progress .bar, .tooltip-alive, .tooltip-alive .tooltip-inner a, .tooltip-inner {
    color: #fff
}

.nav-tabs .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.nav .dropdown-toggle .caret {
    border-top-color: #ed1c24;
    border-bottom-color: #ed1c24;
    margin-top: .6rem
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: #af0e14;
    border-bottom-color: #af0e14
}

.nav-tabs .dropdown-toggle .caret {
    margin-top: .8rem
}

.nav .active .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #636466;
    border-bottom-color: #636466
}

.nav > .dropdown.active > a:hover {
    cursor: pointer
}

.nav-tabs .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
    color: #fff;
    background-color: #999;
    border-color: #999
}

.nav li.dropdown.open .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open.active .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: 100
}

.tab-content > .tab-pane {
    display: none
}

.tab-content > .active {
    display: block
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1101 !important;
    background-color: #333
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .8
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: auto;
    width: 56rem;
    margin: -25rem 0 0 -28rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    background-clip: padding-box
}

.popover, .tooltip-alive .tooltip-inner {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #3b3b3b
}

.modal.fade {
    transition: opacity .3s linear, top .3s ease-out;
    top: -100%;
    z-index: 0
}

.modal.fade.in {
    top: 50%;
    z-index: 1050
}

.modal .carousel {
    margin-bottom: 0
}

.modal-header {
    padding: .7rem 1.5rem;
    height: 3rem
}

.modal-header:after, .modal-header:before {
    display: table;
    line-height: 0
}

.modal-header .close {
    margin-top: .2rem;
    float: right
}

.modal-header h3 {
    margin: 0;
    line-height: 3.7rem
}

.modal-body {
    overflow-y: visible;
    max-height: 40rem;
    padding: 1.5rem
}

.modal-body p {
    margin-bottom: 2rem
}

.modal-footer, .modal-form {
    margin-bottom: 0
}

.modal-footer {
    padding: 1.4rem 1.5rem 1.5rem;
    text-align: right
}

.modal-footer:after, .modal-footer:before {
    display: table;
    line-height: 0
}

.popover, .popover-title, .tooltip-alive {
    line-height: 1.8rem;
    font-size: 1.4rem
}

.modal-footer .btn + .btn {
    margin-left: .5rem;
    margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -.1rem
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

#cart-item-stores {
    width: 80%;
    margin-left: -40%
}

.modal-overflow.modal {
    top: 1%
}

.modal-overflow.modal.fade {
    top: -100%
}

.modal-overflow.modal.fade.in {
    top: 1%
}

.modal-overflow .modal-body {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.modal-open.page-overflow .modal-scrollable, .modal-open.page-overflow .page-container {
    overflow-y: scroll
}

.modal-scrollable {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 1117 !important
}

.tooltip, .tooltip-alive {
    z-index: 1100;
    display: block;
    visibility: visible;
    position: absolute
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.2rem 0 0 -1.2rem
}

.tooltip {
    padding: .5rem;
    font-size: 1.1rem;
    opacity: 0
}

.tooltip.in {
    opacity: 80
}

.tooltip.top {
    margin-top: -.3rem
}

.tooltip.right {
    margin-left: .3rem
}

.tooltip.bottom {
    margin-top: .3rem
}

.tooltip.left {
    margin-left: -.3rem
}

.tooltip-alive {
    padding: 1.5rem
}

.hidden, .invisible {
    visibility: hidden
}

.tooltip-alive .tooltip-inner {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem 2rem;
    border-radius: .6rem;
    overflow: hidden
}

.tooltip-alive.top .tooltip-arrow {
    bottom: .7rem;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-top-color: #3b3b3b
}

.tooltip-alive.right .tooltip-arrow {
    top: 50%;
    left: .7rem;
    margin-top: -10px;
    border-width: 10px 10px 10px 0;
    border-right-color: #3b3b3b
}

.tooltip-alive.left .tooltip-arrow {
    top: 50%;
    right: .7rem;
    margin-top: -10px;
    border-width: 10px 0 10px 10px;
    border-left-color: #3b3b3b
}

.tooltip-alive.bottom .tooltip-arrow {
    top: .7rem;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px;
    border-bottom-color: #3b3b3b
}

.tooltip-inner {
    padding: 1.1rem 1.5rem 1.2rem;
    font-size: 1.4rem;
    max-width: 20rem;
    text-align: center;
    text-decoration: none;
    background-color: #3b3b3b;
    border-radius: .4rem;
    overflow: hidden
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #3b3b3b
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #3b3b3b
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #3b3b3b
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #3b3b3b
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
    display: none;
    width: 30rem;
    padding: .1rem;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .6rem
}

.popover.right {
    margin-left: 1rem
}

.popover.bottom {
    margin-top: 1rem
}

.popover.left {
    margin-left: -1rem
}

.popover-title {
    margin: 0;
    font-weight: 400;
    background-color: #3b3b3b;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    display: block;
    border: none
}

.popover-content {
    padding: 3.8rem 2.7rem 3rem
}

.popover-content ol, .popover-content ul {
    margin-bottom: 0
}

.accordion, .progress {
    margin-bottom: 17px
}

.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid transparent
}

.popover .arrow:after {
    z-index: -1
}

.popover.top .arrow {
    bottom: -10px;
    left: 93.5%;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-top-color: #3b3b3b
}

.popover.top .arrow:after {
    border-width: 11px 11px 0;
    border-top-color: rgba(0, 0, 0, .25);
    bottom: -.1rem;
    left: -11px
}

.popover.right .arrow {
    top: 50%;
    margin-left: 0 !important;
    left: -10px;
    margin-top: -10px;
    border-width: 10px 10px 10px 0;
    border-right-color: #3b3b3b
}

.popover.right .arrow:after {
    border-width: 11px 11px 11px 0;
    border-right-color: rgba(0, 0, 0, .25);
    bottom: -11px;
    left: -.1rem
}

.popover.bottom .arrow {
    top: -10px;
    left: 93.5%;
    margin-left: -10px;
    border-width: 0 10px 10px;
    border-bottom-color: #3b3b3b
}

.popover.bottom .arrow:after {
    border-width: 0 11px 11px;
    border-bottom-color: rgba(0, 0, 0, .25);
    top: -.1rem;
    left: -11px
}

.popover.left .arrow {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-width: 10px 0 10px 10px;
    border-left-color: #3b3b3b
}

.popover.left .arrow:after {
    border-width: 11px 0 11px 11px;
    border-left-color: rgba(0, 0, 0, .25);
    bottom: -11px;
    right: -.1rem
}

.popover .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-ms-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

.progress {
    overflow: hidden;
    height: 1.6rem;
    background: #e9eaec;
    border-radius: 1.6rem
}

.progress .bar {
    width: 0%;
    height: 100%;
    float: left;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background: #ed1c24;
    border-radius: 1.6rem;
    transition: width .6s ease
}

.tooltipster-fall, .tooltipster-grow.tooltipster-show {
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1);
    -moz-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -ms-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.progress .bar + .bar {
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15)
}

.progress-striped .bar {
    background-color: #149bdf;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite
}

.progress .bar-danger, .progress-danger .bar {
    background-color: #de524d;
    background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFC43C35', GradientType=0)
}

.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
    background-color: #ee5f5b;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

.progress .bar-success, .progress-success .bar {
    background-color: #5eba5e;
    background-image: linear-gradient(to bottom, #62c462, #57a957);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF57A957', GradientType=0)
}

.progress-striped .bar-success, .progress-success.progress-striped .bar {
    background-color: #62c462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

.progress .bar-info, .progress-info .bar {
    background-color: #4cb2d0;
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF339BB9', GradientType=0)
}

.progress-info.progress-striped .bar, .progress-striped .bar-info {
    background-color: #5bc0de;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

.progress .bar-warning, .progress-warning .bar {
    background-color: #ffd535;
    background-image: linear-gradient(to bottom, #ffdb52, #ffcb05);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFDB52', endColorstr='#FFFFCB05', GradientType=0)
}

.progress-striped .bar-warning, .progress-warning.progress-striped .bar {
    background-color: #ffdb52;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

.password-force {
    height: 1rem
}

.progress.password-force .bar {
    width: 25%;
    border-radius: 0;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15)
}

.progress .bar-pass-weak {
    background: repeat-x #e81c23;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #eb1c24, #e31b22);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEB1C24', endColorstr='#FFE31B22', GradientType=0)
}

.progress .bar-pass-moderate {
    background-color: #faf020;
    background-image: linear-gradient(to bottom, #fef433, #f4e800);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEF433', endColorstr='#FFF4E800', GradientType=0)
}

.progress .bar-pass-good {
    background-color: #cee233;
    background-image: linear-gradient(to bottom, #d5e745, #c3d915);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD5E745', endColorstr='#FFC3D915', GradientType=0)
}

.progress .bar-pass-secure {
    background-color: #49ba6b;
    background-image: linear-gradient(to bottom, #59c279, #2dac53);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF59C279', endColorstr='#FF2DAC53', GradientType=0)
}

.progress .bar-default {
    background: #e9eaec
}

@media only screen and (max-width: 767px) {
    .popover {
        max-width: 29rem
    }

    .progress, .progress .bar {
        border-radius: 1.3rem
    }

    .progress {
        height: 1.3rem
    }
}

.accordion-group {
    border-top: 1px solid #dfdfdf
}

.accordion-group.accordion-opened .accordion-heading .accordion-toggle {
    background: #fff
}

.accordion-group.accordion-opened .accordion-heading .accordion-toggle .icon-minus {
    display: inline-block
}

.accordion-group.accordion-opened .accordion-heading .accordion-toggle .icon-plus {
    display: none
}

.accordion-heading {
    border-bottom: 0
}

.accordion-heading h2, .accordion-heading h3 {
    margin: 0
}

.accordion-heading .accordion-toggle {
    display: block;
    overflow: hidden;
    height: 1%;
    text-decoration: none;
    font-weight: 700;
    background: #f2f3f5;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 1.6rem 1.9rem 1.8rem
}

.no-touchevents .accordion-heading .accordion-toggle .accordion-heading .accordion-toggle:hover {
    background: #dfdfdf;
    color: #333
}

.no-touchevents .accordion-heading .accordion-toggle:hover {
    color: #333;
    border-bottom-color: #ccc
}

.accordion-heading .accordion-toggle .icon-minus, .accordion-heading .accordion-toggle .icon-plus {
    float: right;
    margin: .4rem 0 0 1rem;
    font-size: 1.8rem
}

.accordion-heading .accordion-toggle .icon-minus.circle, .accordion-heading .accordion-toggle .icon-plus.circle {
    width: 2.6rem;
    height: 2.6rem;
    margin: .3rem .2rem 0 0;
    border-radius: 1.4rem;
    font-size: .9rem;
    line-height: 2.6rem;
    background: #dfdfdf;
    text-align: center
}

.accordion-heading .accordion-toggle .icon-minus.circle:before, .accordion-heading .accordion-toggle .icon-plus.circle:before {
    padding-left: .1rem
}

.accordion-heading .accordion-toggle .icon-minus {
    display: none
}

.accordion-heading .accordion-toggle .icon-plus {
    display: inline-block
}

.accordion-toggle {
    cursor: pointer
}

.accordion-inner {
    background: #fff;
    box-shadow: inset 0 13px 10px -10px #dfdfdf;
    padding: 2.1rem 2rem 1.7rem;
    font-size: 1.4rem;
    line-height: 2rem
}

@media only screen and (max-width: 767px) {
    .accordion-heading .accordion-toggle {
        font-size: 1.4rem;
        line-height: 2rem
    }

    .accordion-heading .accordion-toggle:hover {
        background: #f2f3f5;
        color: #333
    }
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.hide {
    display: none
}

.show {
    display: block
}

.affix {
    top: 1.2rem;
    z-index: 1001;
    position: fixed
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.clearfix:after, .clearfix:before {
    display: table;
    line-height: 0
}

.hide-title {
    position: absolute;
    left: -9999rem;
    top: -9999rem
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 27px
}

.hidden {
    display: none
}

.hidden-desktop, .visible-phone, .visible-tablet {
    display: none !important
}

.visible-desktop {
    display: inherit !important
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hidden-desktop {
        display: inherit !important
    }

    .visible-desktop {
        display: none !important
    }

    .visible-tablet {
        display: inherit !important
    }

    .hidden-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hidden-desktop {
        display: inherit !important
    }

    .visible-desktop {
        display: none !important
    }

    .visible-phone {
        display: block !important
    }

    .hidden-phone {
        display: none !important
    }
}

@media (max-width: 767px) {
    .container {
        width: 58rem;
        padding: 1rem
    }

    .row-fluid {
        width: 100%
    }

    .row {
        margin-left: 0
    }

    .row-fluid [class*=span], [class*=span] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box
    }

    .uneditable-input, input[class*=span], select[class*=span], textarea[class*=span] {
        display: block;
        width: 100%;
        min-height: 27px;
        box-sizing: border-box
    }

    .modal, .modal.container, .modal.modal-overflow {
        top: 1%;
        right: 1%;
        left: 1%;
        bottom: auto;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        padding: 0 !important
    }

    .modal.fade {
        top: -100%
    }

    .modal.container.fade.in, .modal.fade.in, .modal.modal-overflow.fade.in {
        top: 1%;
        bottom: auto
    }

    .modal-body, .modal-overflow .modal-body {
        position: static;
        margin: 0;
        height: auto !important;
        max-height: none !important;
        overflow: visible !important
    }
}

@media (max-width: 480px) {
    input[type=checkbox], input[type=radio] {
        border: 1px solid #ccc
    }

    .modal {
        top: 1rem;
        left: 1rem;
        right: 1rem
    }

    .modal-header .close {
        padding: 1rem
    }
}

.CSA-container {
    width: auto;
    margin-right: 31px;
    overflow: hidden
}

.CSA-container.CSA-no-scrollbar {
    margin-right: 0
}

.CSA-destroyed > .customScrollArea > .CSA-container.CSA-no-scrollbar, .CSA-disabled > .customScrollArea > .CSA-container.CSA-no-scrollbar {
    margin-right: 30px
}

.customScrollArea > .CSA-scrollTools {
    width: 16px;
    height: 100%;
    top: 0;
    right: 0
}

.CSA-scrollTools .CSA-draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto
}

.CSA-scrollTools a + .CSA-draggerContainer {
    margin: 20px 0
}

.CSA-scrollTools .CSA-draggerRail {
    width: 16px;
    height: 100%;
    margin: 0 auto;
    background: #f2f3f5
}

.CSA-scrollTools .CSA-dragger {
    cursor: pointer;
    width: 100%;
    height: 30px
}

.CSA-scrollTools .CSA-dragger .CSA-dragger-bar {
    width: 10px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background: #bcbebf
}

.CSA-scrollTools .CSA-button-down, .CSA-scrollTools .CSA-button-up {
    display: block;
    position: relative;
    height: 20px;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer
}

.CSA-scrollTools .CSA-button-down {
    top: 100%;
    margin-top: -40px
}

.CSA-horizontal > .CSA-container {
    height: auto;
    margin-right: 0;
    margin-bottom: 30px;
    overflow: hidden
}

.CSA-horizontal > .CSA-container.CSA-no-scrollbar {
    margin-bottom: 0
}

.CSA-destroyed > .CSA-horizontal > .CSA-container.CSA-no-scrollbar, .CSA-disabled > .CSA-horizontal > .CSA-container.CSA-no-scrollbar {
    margin-right: 0;
    margin-bottom: 30px
}

.CSA-horizontal.customScrollArea > .CSA-scrollTools {
    width: 100%;
    height: 16px;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    overflow: hidden
}

.CSA-horizontal > .CSA-scrollTools a + .CSA-draggerContainer {
    margin: 0 20px
}

.CSA-horizontal > .CSA-scrollTools .CSA-draggerRail {
    width: 100%;
    height: 2px;
    margin: 7px 0;
    border-radius: 10px
}

.CSA-horizontal > .CSA-scrollTools .CSA-dragger {
    width: 30px;
    height: 100%
}

.CSA-horizontal > .CSA-scrollTools .CSA-dragger .CSA-dragger-bar {
    width: 100%;
    height: 4px;
    margin: 6px auto;
    border-radius: 10px
}

.CSA-horizontal > .CSA-scrollTools .CSA-button-left, .CSA-horizontal > .CSA-scrollTools .CSA-button-right {
    display: block;
    position: relative;
    width: 20px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    float: left
}

.CSA-horizontal > .CSA-scrollTools .CSA-button-right {
    margin-left: -40px;
    float: right
}

.customScrollArea {
    -ms-touch-action: none
}

.customScrollArea:hover > .CSA-scrollTools {
    opacity: .75
}

.CSA-scrollTools .CSA-button-down, .CSA-scrollTools .CSA-button-left, .CSA-scrollTools .CSA-button-right, .CSA-scrollTools .CSA-button-up {
    background-image: url(CSA-buttons.png);
    background-repeat: no-repeat;
    opacity: .4
}

.CSA-scrollTools .CSA-button-up {
    background-position: 0 0
}

.CSA-scrollTools .CSA-button-down {
    background-position: 0 -20px
}

.CSA-scrollTools .CSA-button-left {
    background-position: 0 -40px
}

.CSA-scrollTools .CSA-button-right {
    background-position: 0 -56px
}

.CSA-scrollTools .CSA-button-down:hover, .CSA-scrollTools .CSA-button-left:hover, .CSA-scrollTools .CSA-button-right:hover, .CSA-scrollTools .CSA-button-up:hover {
    opacity: .75
}

.CSA-scrollTools .CSA-button-down:active, .CSA-scrollTools .CSA-button-left:active, .CSA-scrollTools .CSA-button-right:active, .CSA-scrollTools .CSA-button-up:active {
    opacity: .9
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-inner, .fancybox-outer, .fancybox-skin {
    position: relative
}

.fancybox-skin {
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5)
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px
}

.fancybox-iframe, .fancybox-image {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {
    background-image: url(https://static.mvideo.ru/assets/img/fancybox/fancybox_sprite.png)
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

.fancybox-close, .fancybox-nav, .fancybox-nav span {
    z-index: 8040;
    position: absolute;
    cursor: pointer
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(https://static.mvideo.ru/assets/img/fancybox/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px
}

.fancybox-nav {
    top: 0;
    width: 40%;
    height: 100%;
    text-decoration: none;
    background: url(https://static.mvideo.ru/assets/img/fancybox/blank.gif);
    -webkit-tap-highlight-color: transparent
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock, .fancybox-lock body {
    overflow: hidden !important
}

.fancybox-lock {
    width: auto
}

.fancybox-lock-test {
    overflow-y: hidden !important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(https://static.mvideo.ru/assets/img/fancybox/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: rgba(0, 0, 0, .8);
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: rgba(0, 0, 0, .8)
}

.tooltipster-base {
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    position: absolute;
    max-width: 280px;
    min-width: 100px
}

.tooltipster-box {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #333;
    position: relative
}

.tooltipster-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 12px 0 0;
    z-index: 1
}

.tooltipster-content {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 20px;
    position: relative
}

.tooltipster-ruler {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden
}

.tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity
}

.tooltipster-fade.tooltipster-show {
    opacity: 1
}

.tooltipster-grow {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden
}

.tooltipster-grow.tooltipster-show {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-swing {
    opacity: 0;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform
}

.tooltipster-swing.tooltipster-show {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
    -webkit-transition-timing-function: cubic-bezier(.23, .635, .495, 1);
    -webkit-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    -moz-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    -ms-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    -o-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    transition-timing-function: cubic-bezier(.23, .635, .495, 2.4)
}

.tooltipster-fall {
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    -ms-transition-property: top;
    transition-property: top;
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-fall.tooltipster-initial {
    top: 0 !important
}

.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    top: 0 !important;
    opacity: 0
}

.tooltipster-slide {
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    -ms-transition-property: left;
    transition-property: left;
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1);
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -moz-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -ms-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-slide.tooltipster-initial {
    left: -40px !important
}

.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    left: 0 !important;
    opacity: 0
}

@keyframes tooltipster-fading {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.tooltipster-update-fade {
    animation: tooltipster-fading .4s
}

@keyframes tooltipster-rotating {
    25% {
        transform: rotate(-2deg)
    }
    75% {
        transform: rotate(2deg)
    }
    100% {
        transform: rotate(0)
    }
}

.tooltipster-update-rotate {
    animation: tooltipster-rotating .6s
}

@keyframes tooltipster-scaling {
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

.tooltipster-update-scale {
    animation: tooltipster-scaling .6s
}

.tooltipster-sidetip .tooltipster-box {
    background: #FFF;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .2), 0 2px 6px 0 rgba(0, 0, 0, .1);
    border-radius: 4px
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
    margin-top: 8px
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
    margin-right: 8px
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
    margin-left: 8px
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
    margin-bottom: 8px
}

.tooltipster-sidetip .tooltipster-content {
    line-height: 18px;
    padding: 20px 40px 24px 20px
}

.tooltipster-sidetip .tooltipster-arrow {
    overflow: hidden;
    position: absolute
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
    height: 10px;
    margin-left: -10px;
    top: -2px;
    width: 20px
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
    height: 20px;
    margin-top: -10px;
    right: -2px;
    top: 0;
    width: 10px
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
    height: 20px;
    margin-top: -10px;
    left: -2px;
    top: 0;
    width: 10px
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    bottom: -2px;
    height: 10px;
    margin-left: -10px;
    width: 20px
}

.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {
    height: 0;
    position: absolute;
    width: 0
}

.tooltipster-sidetip .tooltipster-arrow-background {
    border: 10px solid transparent
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #FFF;
    left: 0;
    top: 3px
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #FFF;
    left: -3px;
    top: 0
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #FFF;
    left: 3px;
    top: 0
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #FFF;
    left: 0;
    top: -3px
}

.tooltipster-sidetip .tooltipster-arrow-border {
    border: 10px solid transparent;
    left: 0;
    top: 0
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #FFF
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #FFF
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #FFF
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #FFF
}

.tooltipster-sidetip .tooltipster-arrow-uncropped {
    position: relative
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -10px
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
    left: -10px
}

.tooltipster-bg-img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 300px
}