@charset "UTF-8";
.tab-body, body {
    background: #FFF
}

h2 {
    font-size: 1.6rem;
    line-height: 1.8rem
}

.fixed-sidebar-holder {
    padding-left: 0
}

.accordion-heading, .accordion-heading .icon-minus, .accordion-heading .icon-plus, .fixed-sidebar-holder .sidebar-section {
    display: none
}

.back-button-holder, .continue-shopping, .header-area-left, .header-area-right, .header-top-info, .main-toolbar, .main-toolbar-menu, .no-print, .pagination-section-content, .paging-btns, .promotion-carousel-next-btn, .promotion-carousel-prev-btn, .sticky-header, .support-section, .support-type-link, .top-back-btn-block, .view-all-base, .view-all-link, .warranty-banner {
    display: none !important
}

.accordion-inner {
    box-shadow: 0 1px 4px 0 transparent
}

.accordion-body.collapse {
    height: auto
}

.opera body {
    font-family: Arial, Helvetica, sans-serif !important
}

.header-area:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 1.5rem;
    bottom: 0;
    box-shadow: 0 5px 10px transparent
}

.product-review-area, .tab-body {
    position: relative
}

.header-area-holder, .header-logo {
    margin: 0
}

.header-nav, .header-top-bar {
    display: none
}

.promotion-plp-heading {
    padding-top: 2.8rem
}

.tab-body {
    display: block;
    height: auto !important;
    left: auto;
    top: auto;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

.address-book-boxes .my-account-block-content-secondary, .address-book-page .btn-area, .footer, .footer-checkout, .tabset {
    display: none
}

.address-book-page, .brandHub .main-holder, .content-top-section, .new-landing-popular-wrapper, .storeDetails .promotion-sections-block {
    background: 0 0
}

.addAddressCheckout .content-top-primary-section, .addAddressCheckout .content-top-secondary-section, .addToBasket .content-top-primary-section, .addToBasket .content-top-secondary-section, .basket .content-top-primary-section, .basket .content-top-secondary-section, .deliveryDetails .content-top-primary-section, .deliveryDetails .content-top-secondary-section, .onlineLoans .content-top-primary-section, .onlineLoans .content-top-secondary-section, .orderConfirmation .content-top-primary-section, .orderConfirmation .content-top-secondary-section, .orderDetails .content-top-primary-section, .orderDetails .content-top-secondary-section, .orderSummary .content-top-primary-section, .orderSummary .content-top-secondary-section, .payment .content-top-primary-section, .payment .content-top-secondary-section, .recipientDetails .content-top-primary-section, .recipientDetails .content-top-secondary-section {
    width: 100%;
    float: none
}

.category-grid {
    margin-bottom: 2rem
}

.category-grid .category-grid-item {
    width: 33%;
    margin: 0
}

.category-grid .category-grid-item .category-grid-pict {
    width: 100%
}

.category-grid .accordion-heading {
    display: block
}

.category-section .manufacturers-list, .video-guide {
    display: none
}

.items-for-you .caroufredsel_wrapper, .items-for-you .carousel, .items-for-you ul {
    width: 100% !important
}

.items-for-you .product-tile {
    width: 33%
}

.category-banner-slider {
    width: 700px
}

.top-most-popular .carousel .next-btn, .top-most-popular .carousel .prev-btn, .top-most-popular .carousel-paging {
    display: block !important
}

.top-most-popular-wrapper .accessories-product-list {
    width: 100% !important;
    height: 264px !important
}

.top-most-popular-wrapper .accessories-product-list li {
    width: 320px !important;
    border: 0
}

.promotions-products .slider-pict {
    width: 120px !important;
    padding-top: 0;
    margin-top: -25px
}

.promotions-products .slider-link {
    display: block;
    width: 100%;
    overflow: hidden
}

.contacts-applicants-picture, .faq-btn-holder {
    display: none
}

.content-landing-article {
    width: 30%
}

.gift-landing-section {
    width: 100%;
    margin: 0
}

.gift-landing-information {
    width: 48%;
    margin: 0
}

.my-account-blocks .btn .my-account-block-content-secondary, .my-account-blocks .my-account-social .my-account-block-content-secondary {
    display: none !important
}

.addressBook .my-account-block-heading-title {
    height: auto;
    line-height: normal
}

.addressBook .my-account-block-heading-title .label-important {
    display: block;
    overflow: hidden;
    width: 90px;
    margin: 10px 0
}

.news-detail-article-image {
    width: 25%
}

.news-landing-article {
    width: 24%;
    margin: 0;
    box-shadow: 0 1px 4px 0 transparent
}

.order-history-item-icon {
    width: 7%
}

.order-history-item-info {
    width: 93%
}

.order-history-item-link {
    display: none
}

.btn {
    display: none !important
}

.order-confirmation-delivery-details {
    page-break: always;
    page-break-before: always
}

.btn-continue-shopping-holder, .gallery-layout, .js-print, .order-details-list-buttons, .pre-order-background-image, .print-link {
    display: none
}

.pre-order-product-container {
    width: 90%;
    margin: 0 auto
}

.pre-order-product-image {
    float: left;
    width: 30%;
    margin: 0 auto;
    padding-top: 15px
}

.pre-order-product-info-wrapper {
    float: left;
    padding-top: 0;
    margin-left: 40px
}

.carousel-paging, .next-btn, .pre-order-featured-video-holder, .pre-order-item-info-buttons, .prev-btn {
    display: none !important
}

#accessories, #overview, .pre-order-promo-block .btn, .pre-order-promo-block .pre-order-promo-end:before, .product-tile-add-to-basket {
    display: none
}

.pre-order-media-holder {
    background: 0 0;
    padding: 0
}

.pre-order-product-info-wrapper.pre-order-product-info-wrapper-customizable {
    padding-top: 15px
}

.pre-order-top-product.pre-order-top-product-customizable {
    margin-bottom: 0
}

.pre-order-item-custom-image {
    width: 320px;
    margin-right: 50px
}

.pre-order-item-custom-info-wr {
    float: left
}

.pre-order-promo-block {
    width: 32%;
    padding: 12px 2% 0;
    margin-left: 2%;
    box-shadow: none;
    border: 1px solid #333;
    box-sizing: border-box;
    height: 112px
}

.pre-order-promo-block:first-child {
    margin-left: 0
}

.pre-order-top-product {
    margin-top: 0
}

.pre-order-promo-block .pre-order-promo-end {
    height: auto
}

.pre-order-promo-block.promo-end p {
    margin-right: 30px
}

.list-view .product-tile-data {
    width: 120px
}

.product-tiles-list .product-tile-checkout-section {
    border-bottom: 0
}

.product-tile-param-item {
    padding-left: 3px
}

.product-tile-picture-holder {
    margin-right: 20px
}

.product-review-area, .product-review-column, .product-review-tools {
    display: block
}

.product-review-tools {
    position: absolute;
    right: 0;
    top: 0
}

.product-review-meta {
    width: 13rem
}

.productDetails #bpg-refresh, .productDetails .best-price-guarantee-holder, .productDetails .best-price-result-holder, .productDetails .bpg-refresh-link-holder, .productDetails .brand-promises, .productDetails .buttons-view-tabs, .productDetails .carousel-holder, .productDetails .count-down-timer, .productDetails .count-down-timer-title, .productDetails .delivery-choice-holder, .productDetails .download-files, .productDetails .pagination-section, .productDetails .product-data-eac-code, .productDetails .product-data-rating, .productDetails .product-data-rating-code, .productDetails .product-details-summary-add-to-cart, .productDetails .product-details-summary-bonus-help, .productDetails .product-details-summary-compare-holder, .productDetails .product-details-summary-delivery, .productDetails .product-details-summary-price-label, .productDetails .product-details-summary-timer-credit-help, .productDetails .product-details-summary-wishlist-holder, .productDetails .product-leave-review, .productDetails .product-reviews-catagory, .productDetails .product-reviews-stats, .productDetails .single-shadow-block, .productDetails .sort-reviews-form, .productDetails .store-locator-list-item .name ul, .productDetails .submit-button, .productDetails .view-all-link, .productDetails .view-similar-products {
    display: none
}

.productDetails h1.product-title {
    font-size: 2.2rem;
    line-height: 2.2rem
}

.productDetails .product-price {
    text-align: left
}

.productDetails .product-price .product-price-old {
    float: none;
    display: block;
    padding-bottom: .5rem
}

.productDetails .product-price .product-price-current {
    padding-top: 0 !important
}

.productDetails .store-locator-list .hours, .productDetails .store-locator-list .metro, .productDetails .store-locator-list .name, .productDetails .store-locator-list .pickup, .productDetails .store-locator-list .stock {
    width: 20%
}

.productDetails .store-locator-list-item .name h3, .productDetails .store-locator-list-item .name p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    margin-left: 0
}

.productDetails .product-details-summary-timer-holder {
    padding-bottom: 17px !important;
    padding-top: 0 !important
}

.productDetails .product-details-summary-wishlist {
    padding-bottom: 0;
    border-bottom: 0
}

.productDetails .product-details-summary-bonus-info, .productDetails .product-tile-availability .highlighted-text-message {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    float: none;
    display: inline
}

.productDetails .product-reviews-catagory {
    font-size: 1.6rem;
    line-height: 1.8rem
}

.productDetails .product-details-heading {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0
}

.productDetails .product-details-summary-holder {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important
}

.productDetails .product-details-summary-main strong {
    font-weight: 400
}

.productDetails .product-details-summary-price-holder {
    border-bottom: 1px solid #dfdfdf
}

.productDetails .product-details-summary-box {
    box-shadow: none
}

.productDetails .product-details-summary-prices {
    width: 100%;
    float: none;
    text-align: left
}

.productDetails .checkout-section-holder {
    box-shadow: 0 1px 4px 0 transparent;
    padding: 0 1rem 1rem;
    height: auto !important;
    min-height: 10px !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important
}

.productDetails .content-top-primary-section {
    border-right: 1px solid #ccc
}

.productDetails .content-top-section {
    padding: 0 !important
}

.productDetails .product-details-summary-bonus-lable, .productDetails .product-details-summary-economy-lable, .productDetails .product-details-summary-timer-sale-text {
    width: 50%;
    border: none
}

.productDetails .product-details-summary-bonus-lable {
    float: none;
    display: inline
}

.productDetails .product-details-summary-bonus-lable br {
    display: none
}

.productDetails .product-details-data-container .product-data h1.product-title {
    width: 100%;
    float: none
}

.productDetails .brand-logo.pull-right {
    float: none;
    display: block;
    margin-bottom: 1rem
}

.facet-section, .pagination-section-button, .product-details-media-container .product-badge, .promotion-featured-section, .promotion-plp-bottom-section, .search-results-toolbar {
    display: none
}

.productDetails .content-top-section-layout {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf
}

.productDetails .product-details-summary-bonus {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1rem;
    padding-top: .5rem;
    line-height: 2rem
}

.product-details-table, .product-review-content {
    font-size: 1.2rem;
    line-height: 1.4rem
}

.productDetails .delivery-choice-content {
    box-shadow: none
}

.productDetails .product-details-summary-timer-credit-text {
    font-size: 1.2rem
}

.productDetails .product-details-summary-timer-credit-text a {
    text-decoration: none
}

.productDetails .delivery-choice-description-title {
    font-size: 1.2rem
}

.product-details-media-container .media-gallery {
    height: auto !important;
    text-align: center
}

.product-details-media-container .image-holder {
    height: auto !important
}

.product-details-media-container .image-holder .product-image {
    height: 25rem
}

.js_price-block .c-orders-list__content-wrapper, .product-tile-sale {
    height: auto !important
}

.availability-content {
    padding-top: 0
}

.product-details-specification-column {
    width: 100% !important;
    float: left
}

.product-details-tables-holder {
    margin: 1rem 0 0
}

.product-details-table {
    margin-bottom: 1rem
}

.product-details-table td {
    padding: .6rem 0 .6rem 2.1rem
}

.product-reviews-section {
    padding-top: 1rem
}

.product-reviews-heading-title {
    margin-top: 1rem
}

.product-tile-compare, .promotion-sections-block, .store-leave-feedback-holder, .store-locator-list-item .store, .store-locator-list-top-info, .store-locator-title, .store-title-dropdown-holder {
    display: none !important
}

.grid-view .product-tile {
    padding-bottom: 1.7rem;
    height: auto !important
}

.product-tile-sale {
    overflow: auto
}

.storeDetails .promotion-section {
    width: 25%;
    margin: 0
}

.store-locator-list .name {
    width: 50%
}

.store-review-buttons, .wishlist-action-links {
    display: none
}

.wishlist-image-holder {
    width: 20%
}

.wishlist-main-info {
    width: 55%
}

.basket-bundle-holder {
    background-color: #FFF
}

.comparison-products-description .table-layout {
    table-layout: fixed
}

.comparison-products-description .table-layout .table-layout-cell {
    width: auto
}

@page {
    margin: 1cm 2cm
}

.Widget.js-widget, .c-affix-content, .c-btn, .c-form-registration, .c-gift, .c-orders-list__old-price, .c-orders-list__order .c-orders-list__header, .c-store-confirmation__favorite-shop, .c-store-confirmation__print, .e-hr, .js-btn-left, .js-btn-right, .o-checkout__back-cart, .o-checkout__title, .o-confirmation__description, .o-confirmation__personal-block, .o-confirmation__print, .o-page__footer {
    display: none !important
}

.c-header-checkout__phone .c-contact-phone__phone:nth-child(1n+2) {
    display: none
}

.o-checkout__block_left, .o-checkout__block_right {
    float: none;
    width: 100%
}

.js_price-block {
    position: relative !important;
    top: auto !important;
    bottom: auto !important;
    width: 100%
}

.c-store-confirmation {
    display: block;
    margin-bottom: 0 !important
}

.c-orders-list__price {
    display: inline-block;
    position: absolute;
    right: 0;
    background: #FFF;
    color: #333
}

.c-orders-list__header:before {
    content: '' !important
}

.o-confirmation__number-print {
    display: block !important
}

.c-header-title {
    font-size: 2.2rem;
    line-height: 2.6rem
}

.o-confirmation .c-tabs__menu {
    display: none
}

.o-confirmation .tab-body {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    background: #FFF
}

.o-confirmation .tab-body .o-checkout__block_right {
    display: block !important
}

.o-confirmation .tab-body .c-header-checkout {
    padding-bottom: 2rem
}

.o-confirmation .tab-body .c-header-checkout .c-header-checkout__phone {
    margin-top: 0
}

.o-confirmation .tab-body:nth-of-type(3) {
    margin-top: 2rem
}

.o-confirmation .tab-body:nth-of-type(n+3) {
    page-break-after: always
}

.o-confirmation .tab-body .tab-inner {
    padding-top: 0;
    padding-bottom: 0
}

.o-confirmation .c-contact-phone {
    top: 3rem
}

.o-confirmation .c-contact-phone__text {
    position: absolute;
    right: 0;
    z-index: 5
}

.o-confirmation .o-confirmation__personal-block {
    width: 53rem;
    margin-top: 1.2rem
}

.o-confirmation .o-confirmation__personal-block.u-border-top {
    margin-top: 2rem;
    padding-top: 1.2rem
}

.o-confirmation .c-store-confirmation__wrapper-items {
    width: 53rem;
    padding-bottom: 4rem
}

.c-orders-list__bonus .c-orders-list__content, .o-page__content {
    padding-bottom: 0
}

.o-confirmation .c-cost-line__text, .o-confirmation .c-cost-line__title, .o-confirmation .c-orders-list__li-name, .o-confirmation .c-orders-list__name span, .o-confirmation .c-orders-list__price {
    z-index: 10
}

.c-orders-list__content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.u-print-bold {
    font-weight: 700
}

.c-orders-list__li {
    margin-bottom: 1.2rem;
    line-height: 1.7rem
}

.c-cost-line, .c-store-confirmation__wrapper-map, .o-container__section {
    margin-bottom: 0
}

.c-orders-list__bonus .c-orders-list__header, .c-store-confirmation__title {
    font-size: 2.2rem;
    line-height: 2.6rem
}

.c-orders-list__li.c-orders-list__price {
    display: none
}

.c-orders-list__li span {
    position: relative;
    background-color: #FFF
}

.c-orders-list__name {
    position: relative
}

.c-orders-list__name:first-letter {
    text-transform: capitalize
}

.c-orders-list__name:before {
    content: '';
    background: url(https://static.mvideo.ru/assets/img/dotted-line.png) bottom repeat-x;
    background-size: 25rem .1rem;
    display: inline-block;
    position: absolute;
    height: .1rem;
    width: 100%;
    bottom: .4rem;
    border-width: 100px 0 0
}

.c-cost-line__text, .c-cost-line__title {
    background-color: #FFF !important
}

.c-cost-line_medium .c-cost-line__text {
    position: absolute;
    right: 0
}

.c-cost-line.c-cost-line_no-bold .c-cost-line__text, .c-cost-line.c-cost-line_sale .c-cost-line__text {
    color: #333 !important;
    font-weight: 700 !important
}

.c-cost-line:before {
    border-width: 100px 0 0
}

@-moz-document url-prefix() {
    .c-cost-line:before, .c-orders-list__name:before {
        border-image: url(https://static.mvideo.ru/assets/img/dotted-line.png) 100 0 0 0/auto repeat
    }
}

.c-orders-list__cost-line-content {
    padding-top: 1rem
}

.c-orders-list__bonus {
    margin-top: 2rem;
    margin-bottom: 0
}

.c-orders-list__bonus .u-color-green {
    float: right;
    color: #333;
    font-weight: 700
}

.c-store-confirmation__title {
    margin-top: 4.2rem
}

.c-cost-line__qt {
    display: block !important
}

.c-store-confirmation__wrapper-map-break {
    position: relative;
    height: 1px;
    opacity: 1;
    z-index: 100000
}

.c-store-confirmation__wrapper-map .o-confirmation__map > ymaps, .c-store-confirmation__wrapper-map .o-confirmation__map > ymaps > ymaps {
    width: 100% !important
}

.c-orders-list__price .c-orders-list__old-price {
    margin-left: 0
}

.c-orders-list__price .u-print-bold {
    float: right;
    margin-left: .5rem
}