@import url("normalize.less");
@import url('vendor/iziModal.min.less');
@import url('vendor/select2.theme.less');
@import url('vendor/select2.css');
@import url("vendor/slick.less");
@import url("mixins.less");
@import url("ui.less");
@import url('fonts.less');
@import url('components/header.less');
@import url('components/welcome.less');
@import url('components/form.less');
@import url('components/job.less');
@import url('components/tasks.less');
@import url('components/partners.less');
@import url('components/histories.less');
@import url('components/comments.less');
@import url('components/request.less');
@import url('components/navigation.less');
@import url('components/footer.less');
@import url('components/advantages.less');
@import url('components/contacts.less');
@import url('components/modal.less');


/* * * * * * * * * * *
*                    *
* Variables          *
*                    *
* * * * * * * * * * */

@font : 'Noto Sans';
@font2 : 'Montserrat';

@mobile : (max-width: 1314px)
;
@desktop : (min-width: 1315px)
;

@tablet-area : (max-width: 1190px)
;

@phone : (max-width: 1180px)
;

//colors

@black : #777;

/* * * * * * * * * * *
*                    *
* Global             *
* Styles             *
*                    *
* * * * * * * * * * */
html,
body {
  width      : 100%;
  min-height : 100%;
  max-width  : 100%;
  overflow-x : hidden;
}

.page {
  position                   : relative;
  z-index                    : 1;
  font-family                : @font, sans-serif;
  -webkit-font-smoothing     : antialiased;
  text-rendering             : optimizeLegibility;
  -moz-osx-font-smoothing    : grayscale;
  -moz-font-feature-settings : 'liga', 'kern';
  background                 : white;
  color                      : @black;
  min-width                  : 320px;
  font-size                  : 18px;
  line-height                : 28px;

  * {
    box-sizing : border-box;

    &:focus {
      outline-color : #B4E4FF;
    }
  }

  &__wrapper {
    padding        : 0;
    display        : flex;
    flex-direction : column;
    min-height     : 100vh;
  }
}

@media (min-width : 1200px) {
  .mobile-show {
    display : none;
  }
}

.text-page {
  width: 100%;

  td, th {
    padding-right : 4px;
  }
}

.container {
  max-width  : 1183px;
  margin     : 0 auto;
  align-self : center;

  @media @tablet-area {
    max-width : 768px;
  }

  @media @phone {
    padding : 0 20px;
  }
}

.mobile-hide {
  @media @mobile {
    display : none;
  }
}


/* * * * * * * * * * *
 * 									 *
 * Pages             *
 * Styles            *
 *                   *
 * * * * * * * * * * */

@import url("pages/404.less");


/* * * * * * * * * * *
* 									 *
* Block              *
* Styles             *
*                    *
* * * * * * * * * * */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance : none;
  margin             : 0;
}


/* * * * * * * * * * *
* 									 *
* Media              *
* Queries            *
*                    *
* * * * * * * * * * */

//@import url("adaptive.less");
