.text-centred {
  text-align : center;
}

.btn-header {
  background      : #262525;
  border-radius   : 20px;
  padding         : 9px;
  font-style      : normal;
  font-weight     : normal;
  font-size       : 14px;
  line-height     : normal;
  text-align      : center;
  text-decoration : none;
  position        : relative;
  min-height      : 40px;

  &_dark {
    background : #262525;
    color      : #FFF;
    border     : 3px solid transparent;
    box-sizing : border-box;
    transition : all .5s ease;

    &:hover {
      color      : #262525;
      background : #FFF;
      border     : 3px solid #262525;
    }
  }

  &_lang {
    background : #FFF;
    padding    : 8px;
    width      : 64px;
    max-height : 40px;
    align-self : flex-start;
    margin-top : 12px;
    transition : box-shadow .3s ease, max-height .7s ease .1s;
    overflow   : hidden;

    &:after {
      position   : absolute;
      content    : "";
      .size(16px);
      right      : 8px;
      top        : 13px;
      background : url("../img/arrow-bottom.svg") no-repeat center center;
      transition : transform .5s ease;
    }

    &:hover {
      max-height : 100px;
      box-shadow : 0px 2px 4px rgba(0, 0, 0, 0.25);

      &:after {
        transform : rotate(180deg);
      }

      .btn-header__flag {
        transition : opacity .3s ease .2s;
        opacity    : 1
      }
    }
  }

  &__flag {
    display           : block;
    position          : relative;
    .size(100%, 24px);
    background-image  : url("../img/russia.png");
    background-size   : 24px 24px;
    background-repeat : no-repeat;
    margin-top        : 16px;
    text-decoration   : none;
    opacity           : 0;
    transition        : opacity .3s ease;

    &:first-child {
      margin-top : 0;
      opacity    : 1;
    }

    &.en {
      background-image : url("../img/united-states.png");
    }

    &.ru {
      background-image : url("../img/russia.png");
    }
  }

  &__flag-text {
    padding-left    : 28px;
    font-size       : 14px;
    line-height     : 19px;
    color           : #000;
    text-decoration : none;
  }
}

.arrow {
  background-image    : url("../img/arrow-right.svg");
  background-repeat   : no-repeat;
  background-position : center center;
  background-color    : rgba(241, 242, 246, 0.7);
  border-radius       : 50%;
  display             : block;
  transition          : opacity .5s ease, background-color .5s ease;
  .size(48px);

  &_prev {
    transform : rotate(180deg);
  }

  &_next {
  }

  &:hover {
    background-color : #FAFBFF;
  }

  &.slick-disabled {
    opacity : 0;
  }


}

.link {
  font-weight     : bold;
  font-size       : 16px;
  line-height     : normal;
  color           : #8EBA5B;
  text-decoration : none;
  position        : relative;
  transition      : opacity .3s ease;

  &:before {
    .pseudo;
    background      : url("../img/circle-arrow-right.svg") no-repeat;
    background-size : contain;
    .size(24px);
    right           : -35px;
    top             : 0px;
  }

  &:hover {
    opacity : 0.7;
  }
}

.checkbox input {
  position : absolute;
  z-index  : -1;
  opacity  : 0;
  margin   : 10px 0 0 20px;
}

.checkbox__text {
  position    : relative;
  padding     : 0 0 0 50px;
  cursor      : pointer;
  color       : #333;
  font-size   : 18px;
  line-height : 28px;
}

.checkbox__text:before {
  content       : '';
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 40px;
  height        : 20px;
  border-radius : 13px;
  background    : #CDD1DA;
  box-shadow    : inset 0 2px 3px rgba(0, 0, 0, .2);
  transition    : .2s;
}

.checkbox__text:after {
  content       : '';
  position      : absolute;
  top           : 2px;
  left          : 2px;
  width         : 16px;
  height        : 16px;
  border-radius : 10px;
  background    : #FFF;
  box-shadow    : 0 2px 5px rgba(0, 0, 0, .3);
  transition    : .2s;
}

.checkbox input:checked + .checkbox__text:before {
  background : #FFBC23;
}

.checkbox input:checked + .checkbox__text:after {
  left : 22px;
}

.checkbox input:focus + .checkbox__text:before {
  box-shadow : inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
}


.btn {
  overflow      : hidden;
  position      : relative;
  display       : inline-block;
  background    : #8EBA5B;
  border-radius : 20px;

  &_light {
    background : transparent;

    .btn__text {
      color      : #8EBA5B;
      transition : color .3s ease;
    }

    .btn__inner {
      border : 2px solid #8EBA5B;
    }

    &:hover {
      .btn__text {
        color : #FFF;
      }
    }

    &:active {
      .btn__inner {
        border : 2px solid #456F37;
      }
    }
  }


  &__circle {
    background-color          : #709C3D;
    border-radius             : 1000px;
    position                  : absolute;
    left                      : 0;
    top                       : 0;
    width                     : 0px;
    height                    : 0px;
    margin-left               : 0px;
    margin-top                : 0px;
    pointer-events            : none;
    animation-timing-function : ease-in-out;
  }

  &__inner {
    display         : inline-block;
    border-radius   : 20px;
    transition      : 400ms;
    z-index         : 5;
    padding         : 9px 15px;
    font-family     : Noto Sans;
    font-style      : normal;
    font-weight     : normal;
    font-size       : 14px;
    line-height     : normal;
    text-align      : center;
    text-decoration : none;
    position        : relative;
    min-height      : 40px;
  }

  &__text {
    position : relative;
    z-index  : 5;
    color    : #FFF;
  }

  .explode-circle {
    animation : explode 0.5s forwards;
  }

  .desplode-circle {
    animation : desplode 0.5s forwards;
  }

  @keyframes explode {
    0% {
      width            : 0px;
      height           : 0px;
      margin-left      : 0px;
      margin-top       : 0px;
      background-color : rgba(42, 53, 80, 0.5);
    }
    100% {
      width            : 400px;
      height           : 400px;
      margin-left      : -200px;
      margin-top       : -200px;
      background-color : #709C3D;
    }
  }

  @keyframes desplode {
    0% {
      width            : 400px;
      height           : 400px;
      margin-left      : -200px;
      margin-top       : -200px;
      background-color : #709C3D;
    }
    100% {
      width            : 0px;
      height           : 0px;
      margin-left      : 0px;
      margin-top       : 0px;
      background-color : rgba(112, 156, 61, 0.71);
    }
  }

  &:active {
    .btn__inner {
      background-color : #456F37;
    }
  }
}

a:focus {
  outline : none;
}
